[2013-02-24 19:19] djMax opened #1 "Having some trouble with multiple components"
I have a bridge, a zone player, a play 3, and a dock. getcurrenttrack fails. It worked at some point when I had just one thing playing, but now it seems all confused. I get "connection refused" which is a very odd error.

[2013-02-24 21:46] #1 closed, assigned to nobody

[2013-03-16 14:54] julien51 opened #2 "Won't play MP3 from my own computer?"
Hello,

I tried the queuenext.js example. It works great. So I tried to do the same thing from my local machine, using its localnetwork IP which should be visible from the SONOS, but for some reason my HTTP server never gets the request from the sonos :(

I have posted the sample code there: https://gist.github.com/julien51/108f51e95a1e220e23c5

Any idea?

[2013-03-16 15:40] #2 closed, assigned to nobody

[2013-04-02 00:59] bencevans opened #3 "Cannot read property '0' of undefined"
[code]

[2013-05-06 21:01] mrose17 opened #4 "Sonos.prototype.previous isn't defined in lib/sonos.js"
oops!

[2013-05-09 22:21] bencevans opened #7 "0.3"
- [x] Merge services branch
- [x] Merge #6
- [x] Fix currentTrack isn't returning URI and maybe convert position/duration to seconds
- [x] JSLint
- [x] Write Docs for #6, 7e4b0ab71e75ac97d25c393b20b94f6a95d36b0a, 97136ee4d68d04d64335d173f4e54259727948f1, 151c8468cfbc99331e4294b24391882c1e0e141a & services
- [x] Update package.json contributors
- [x] Update package.json licence to README licence
-

[2013-05-10 09:54] #4 closed, assigned to nobody

[2013-05-10 10:41] bencevans opened #8 "setLEDState use Bool but accept string"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3465438-setledstate-use-bool-but-accept-string?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)

[2013-05-10 11:01] #3 closed, assigned to nobody

[2013-05-10 18:34] #7 closed, assigned to nobody

[2013-05-31 23:40] bencevans opened #9 "getDescription = deviceDescription()"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3465437-getdescription-devicedescription?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github).
</bo

[2013-05-31 23:41] bencevans opened #10 "getDescription & getTopology Docs"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3465436-getdescription-gettopology-docs?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github).
</bou

[2013-06-03 21:22] bencevans opened #11 "unhandled 'error' event - node 0.10.x"
Errors aren't escalated from `.search`'s `.socket` hence the `unhandled 'error' event`.

As reported by @ghchinoy on https://github.com/bencevans/soyes/issues/1

Problems on:
- Windows 64 bit
- Node.js v0.10.7

Works on:
- Windows/Linux v0.8.x
- Linux v0.10.7

The actual error might be something to do with the following change...

[https://github.com/joyent/node/wiki/Api-changes-between-v0.8-and-v

[2013-06-07 08:42] #11 closed, assigned to nobody

[2013-07-12 15:18] JeremyLaurenson opened #12 "Error when trying to set volume: forGroup is not defined"
TransportState
{ room: 'BasementOffice', action: 'volume', value: '1' }
current volume 39

/Volumes/Data/Scripts/node-sonos-http-api-master/node_modules/sonos-discovery/lib/sonos.js:620
    console.log('setting volume', volumeLevel, 'for Group', forGroup);
                                                            ^
ReferenceError: forGroup is not defined

[2013-07-15 13:40] #12 closed, assigned to nobody

[2013-08-02 05:20] apuder opened #14 "sonos.search() not working pre node 0.10.x"
I'm trying to run this script using node v0.8.5 under Mac OS 10.7.5:

[code]

The callback is never called. Here are the details of my Sonos bridge:

BRIDGE: BRIDGE
Version: 4.1 (build 22064240)
Hardware Version: 1.5.0.0-1
IP Address: 192.168.1.110

[2013-11-02 19:23] svrooij opened #15 "TTS Example not working"
It seams like google blocked sonos devices.
If I try to run this example then it gives back an 500 error

[2013-11-03 20:32] ghchinoy opened #16 "setVolume should return the volume set value"
Currently, setVolume is return the control and it would be nice to return the volume value, confirming that the volume has been set.

[code]

[2013-12-04 01:08] #16 closed, assigned to nobody

[2013-12-04 01:09] #15 closed, assigned to nobody

[2013-12-28 13:58] bencevans opened #21 "Add lint testing"

[2014-01-09 14:08] #21 closed, assigned to nobody

[2014-01-11 05:19] bencevans opened #23 "Spotify"
AddSpotifyToQueue -https://github.com/DjMomo/sonos/blob/9833a311832d59d0946b30d20f7f85918dedf023/sonos.class.php#L473

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3465435-spotify?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2014-01-28 20:34] bencevans opened #24 "Play State"
The functionality has already been written, as attached below. It needs to be added and tested. Unfortunately I'm not in a place with a Sonos at the moment so if someone can add the code, test it and send a pull-request I'd be happy to merge.

---

Hi Ben!

Ive been able to add the functionality to view the state of a player (playing,paused,stopped)
Im not very familiar to doing pull requests, im

[2014-02-06 23:34] bencevans opened #25 "Command Line Interface"
So you can run:
- [ ] `sonos play`, `sonos play [url]`
- [ ] `sonos stop`
- [ ] `sonos pause`
- [ ] `sonos status`
- [ ] `sonos queue`, `sonos queue [url]`
- [ ] `sonos next`, `sonos next [url]`
- [ ] `sonos volume [0-100]`
- [ ] `sonos current` Tells user current track/what's playing

[2014-04-05 23:01] stephen opened #27 "play() only queues if uri is specified"
play() doesn't seem to actually make the Sonos device play any audio if specified with an URI, and the device isn't already playing.

Looking at the source - this might be because play() is just forwarding the uri to queueNext() and not actually sending a play command as well?

Current workaround:

[code]

[2014-04-17 22:58] stephen opened #29 "Bridge device shows up during search()"
Are bridge devices supposed to show up when search() is used for devices on the network? If so, is there a way to differentiate them from Speaker devices?

[2014-04-19 22:17] #29 closed, assigned to nobody

[2014-04-19 22:20] #25 closed, assigned to nobody

[2014-04-19 22:20] #14 closed, assigned to nobody

[2014-04-20 09:56] #27 closed, assigned to nobody

[2014-04-22 21:28] bencevans opened #33 "Maintainers"
Although I love to work on the project and will carry on when I have time, I think adding additional maintainers would be great. Also as I'm going to be away from a computer for quite a while I don't want my unavailability to affect pull-request review/merges and other development.

I was wondering if @stephen,  @mrose17 and/or others would be up for it?

Cheers,
Ben

[2014-04-23 08:42] #33 closed, assigned to nobody

[2014-05-08 16:43] mrose17 opened #38 "query: any issues when sonos devices grouped together?"
ben - i'm looking at an issue https://github.com/TheThingSystem/steward/issues/214 in which the sonos devices start to return gibberish when they are grouped together, to summarize:

[code]

i've got only one sonos speaker here, so i can't test it. i'm wondering if you've seen anything like this. thanks! - marshall

[2014-05-08 17:22] #38 closed, assigned to nobody

[2014-05-11 19:36] stephen opened #42 "Eventing Framework"
I'd like to add event handling support to the package. This would allow us to listen for events triggered externally by other controllers, speaker hardware, etc. (For my purposes - I'd like to listen in on topology changes - e.g. when speakers become grouped, ungrouped, pair'd, etc.)

I've preliminarily broke ground on putting this together, but welcome input on how to best architect this. See: ht

[2014-05-11 19:39] stephen opened #43 "Logical Device support"
Would like to add a "logical device" abstraction on top of the existing devices, and a `search()` function that groups these logical devices.

Logical device would essentially be any playable interface that Sonos supports via the controller - e.g. a Stereo Pair shows up as a single logical device; Grouped rooms show up as a logical device, etc.

[2014-08-03 17:59] bencevans opened #45 "Design a logo/identifier for the project"

[2014-09-07 07:43] #42 closed, assigned to nobody

[2014-10-04 22:09] jtmarmon opened #46 "Invoking "Next" throws an error"
`"Error: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Next"`

Everything else is working fine for me (pause, play, previous)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5092124-invoking-next-throws-an-error?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept

[2014-10-25 15:46] svrooij opened #47 "getCurrentState gives back playing for grouped speaker"
If you call getCurrentState on a player that is grouped with an other player, it gives back playing even if it is not playing.

[2014-11-24 08:25] mrose17 opened #51 "QUERY: list of models corresponding to players?"
is there a list of model numbers (e.g., 'ZPS9') that correspond to actual players rather than things like bridges and docks. my bridge is discovered as a "BR100", and i'm not sure what a dock would come across as.

when doing discovery, i'd like to know whether a player is being reported or an auxiliary device.

thanks!

[2014-11-25 21:19] #51 closed, assigned to nobody

[2014-12-08 07:14] stephen opened #54 "1.0.0 Release [$15]"
- [x] Logical Devices (PR: https://github.com/bencevans/node-sonos/pull/53)
- [x] Logical Device Search / Management (PR: https://github.com/bencevans/node-sonos/pull/55)
  - When dealing with logical devices, perhaps it makes sense for us to go one level better and also concern ourselves with topology changes, i.e. a `Manager` class that will emit events for grouping changes / devices connecting,

[2014-12-08 07:47] #47 closed, assigned to nobody

[2014-12-09 11:59] #24 closed, assigned to nobody

[2014-12-10 20:58] #43 closed, assigned to nobody

[2015-01-08 18:49] mistaTT opened #58 "wrong controlURL and eventSubURL in lib/services/MusicServices.js"
The controlURL and eventSubURL are wrong. For music services the /MediaRenderer/ is not needed, the correct urls are:

`this.controlURL = '/MusicServices/Control';`
`this.eventSubURL = '/MusicServices/Event';`
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7594754-wrong-controlurl-and-eventsuburl-in-lib-services-musicservices-js?utm_

[2015-01-09 04:38] stephen commented on #58
PR welcome here. Are you actively using stuff from `services/`? I think the general notion was that it's not really maintained and should/shouldn't be ripped out. Would be interested to hear what you're doing with it.

[2015-01-12 21:30] mistaTT commented on #58
I'm using this library and node-webkit to write a SONOS controller. Wenn i called the function ListAvailableServices i got the error "405 method not allowed", so i tried to change the URL from "/MediaRenderer/MusicServices/Control" to /MusicServices/Control and got the correct response with the list of available services. When there is a better way to get the active used music services from a SONO

[2015-01-15 12:49] MartinAyla commented on #54
Thanks for all the work on this. I just donated $15.

Actually I wanted to donate (bounty) to AirSonos - but I guess node-sonos is part of that? :)

Also, does the logical groups work in AirSonos now, meaning, can I AirPlay to ie. two Sonos devices at the same time with the latest relase?

[2015-01-16 04:00] stephen commented on #54
(Perhaps this should be in an [airsonos issue](https://github.com/stephen/airsonos/issues)..)

@MartinAyla - you should already be able to play to two sonos devices at the same time with airsonos, provided that they're grouped in the Sonos controller. You should connect to the "primary" device in the group.

After these changes (and changes in airsonos) merge, group playback will be less clunky, m

[2015-01-18 14:26] stephen opened #59 "Volume Listener breaks on EQ changes"
https://github.com/bencevans/node-sonos/pull/53/files

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7849684-volume-listener-breaks-on-eq-changes?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-01-18 17:03] djMax opened #60 "Not returning URL for track?"
Just getting started with latest node-sonos after a long time away. When getting the current track info, I see that it doesn't seem to parse the actual URL for the content. Isn't this necessary for being able to turn around and play that track later? If so that seems like something that should get parsed in parseDIDL or somewhere. I can make the changes if I'm understanding this correctly.
## <bou

[2015-01-23 13:01] Bavragor opened #61 "Is there a way to use spotify with this node package ?"
<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7981902-is-there-a-way-to-use-spotify-with-this-node-package?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&ut

[2015-01-23 16:24] bencevans commented on #61
You may be able to use @TooTallNate's Spotify module and stream to the Sonos device. Check it out https://github.com/TooTallNate/node-spotify-web

[2015-01-23 16:24] #61 closed

[2015-02-20 06:28] monsur opened #65 "Decouple listener from server"
Right now, listener.js creates a new server to listen for Sonos notifications. But there may be cases where a developer has an existing server where they'd like to receive notifications. For these cases, it might be nice to return a Connect middleware handler function which they can then plug into their own server.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:

[2015-02-20 06:31] monsur opened #66 "Recursive XML parsing?"
Some Sonos responses contain nested XML, or XML in attributes. For example, in the zoneTopologySubscription.js example, the LastChange json property is actually a string of XML. It would be nice of node-sonos could parse all levels of XML, so that the developer doesn't have to write additional XML parsing code.

[2015-02-20 06:49] monsur opened #67 "Add support for renewing subscriptions"
It would be nice if the listener could renew an existing subscription on behalf of the user(I didn't see any code to do this). As I understand it, the timeout response header indicates when to renew.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8734860-add-support-for-renewing-subscriptions?utm_campaign=plugin&utm_content=tracker%

[2015-02-23 18:33] bencevans opened #71 "Release master -> 0.8.0"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8839233-release-master-0-8-0?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github).
</bountysource-p

[2015-02-23 18:40] monsur commented on #67
It looks like this was added in the following commit:

https://github.com/bencevans/node-sonos/commit/0a70340b2553a2387e6de7c338ce796a18f001ec

Closing this issue.

[2015-02-23 18:40] #67 closed

[2015-03-19 21:37] HarlekinX commented on #23
I try to play a Spotify playlist with
[code]
and it doesn't work (HTTP response 500).
Would this enhancement be the missing piece or are I'm doing something wrong?

[2015-03-19 21:53] bencevans commented on #23
Not 100% sure without looking into it further put it's quite likely

[2015-03-21 22:44] HarlekinX commented on #23
I did a little experimentation on how to play a Spotify playlist, although it may be the wrong place here because the link in your initial post shows how to add a Spotify track to the queue.

First I used Wireshark to sniff the communication between the Sonos app and the speakers. The body it sends looks like this:

[code]

Required to successfully queue a Spotify playlist are the URI and the meta

[2015-03-23 14:15] bencevans commented on #23
Thanks for the research! If you fancy writing an abstraction to make this
easier in future a pull request would be gratefully received.

On Saturday, March 21, 2015, Matthias Brünning <notifications@github.com>
wrote:

[2015-03-25 19:23] HarlekinX commented on #23
It would be an honor for me to collaborate on your project. However, I am a Node.js novice. I need to figure out how to include this to your code in a useful manner. In the meantime I have some other components I could contribute.

[2015-03-26 22:10] ktec opened #73 "Stuck Searching for Sonos devices on network..."
So I started by trying to use the airsonos app, but it just gets stuck at

[code]

I've documented it more closely here https://github.com/stephen/airsonos/issues/135 I've not had any success finding anyone who can help guide me through debugging but it was suggested that someone here may know enough to help.

To summarise, I've got these installed:

[code]

Airsonos project uses this projects `so

[2015-03-27 13:56] bencevans commented on #23
Anyone wanting to contribute is more than welcome too whatever your level!
We are all novices at some point :)

On Wednesday, March 25, 2015, Matthias Brünning <notifications@github.com>
wrote:

[2015-03-27 14:00] bencevans commented on #73
Thanks for the report @ktec.

What Sonos devices have you got on your network that you're trying to find?

[2015-03-27 14:08] ktec commented on #73
Hi Ben, its the PLAY:1

I was debugging through the code for hours last night but I'm no good at javascript debugging so i didn't really get anywhere....was only able to stop the code before it defined the Search() class, but I couldn't get it to stop inside the searching call

[2015-03-29 16:32] HarlekinX opened #77 "Codacy code review parameters"
I'm using JSHint and your `.jshintrc` configuration to verify my code. My pull requests got successfully verified by Travis CI. After about 24 hours I saw that my code failed.
The failed verification comes from Codacy.

1. failure : A variable was not camel case.
Even I have to agree my fault and corrected it, looking at `.jshintrc` I see ` "camelcase": false,`. The JSHint documentation says that

[2015-03-29 23:47] jweinstein commented on #73
Same issue, I have a Soundbar and a PLAY:1

[2015-03-30 10:38] HarlekinX commented on #73
Mmmh, I have 2x PLAY:1 and 1x Sub and no problem to discover them (in less then 2 seconds).

Where do you run the script. Is it a physical machine, has it multiple network adapters, is i a virtual machine and is bridged networking active?

[2015-03-30 17:31] jweinstein commented on #73
Regular Mac OS X machine on the same network. Nothing fancy. :(

[2015-03-30 17:45] ktec commented on #73
Me too, regular mac book air, nothing fancy, and the Sonos app seems to
locate the device without trouble. Can you suggest how/where I can drop
debug in to actually step through the discovery thing and I can probably
help resolve this.

On 30 March 2015 at 18:31, Jeff Weinstein <notifications@github.com> wrote:

--
keithsalisbury@gmail.com

[2015-03-31 00:51] bencevans commented on #73
@ktec @jweinstein: are you both using the airsonos module?

I'm able to discover devices on a linux box running node@v0.10.36 and the node-sonos@master

Best way to debug this is to use Wireshark and check the broadcast packet is actually being sent and whether any Sonos devices are sending anything back.

[2015-03-31 00:53] jweinstein commented on #73
Would it be possible to set up a time to screen share with you to walk
through that?

On Mon, Mar 30, 2015 at 5:51 PM, Ben Evans <notifications@github.com> wrote:

[2015-03-31 00:59] ktec commented on #73
Hey Ben, Yup I'm using the airsonos module, I'll give it a whirl with wire
shark, you wouldn't happen to have a packet filter that will help zero in
on the relevant packets?

On Tuesday, March 31, 2015, Ben Evans <notifications@github.com> wrote:

--
keithsalisbury@gmail.com

[2015-03-31 01:01] bencevans commented on #73
I'm afraid it's a busy week, ping me Friday and I might be able to help.

Else If you're able to do a [packet capture](http://www.howtogeek.com/104278/how-to-use-wireshark-to-capture-filter-and-inspect-packets/) in Wireshark and send it to me (assuming you're comfortable sharing your net packets!) and run maybe with screen recording the node-sonos program/code.

[2015-03-31 01:01] bencevans commented on #73
@ktec Cheers! I'll see what I can come up with...

[2015-03-31 01:04] bencevans commented on #73
@ktec just `http` should get rid of the noise so long as you haven't got loads of other requests being made by fb etc.

[2015-03-31 01:05] ktec commented on #73
Thanks mate I'll do a snoop and let you know what I come up with

On Tuesday, March 31, 2015, Ben Evans <notifications@github.com> wrote:

--
keithsalisbury@gmail.com

[2015-03-31 01:12] bencevans commented on #73
@ktec
![Ta](http://media.giphy.com/media/Zw3oBUuOlDJ3W/giphy.gif)

[2015-04-07 11:34] bencevans commented on #77
Don't worry about the code style atm. I plan to use [standard](https://github.com/feross/standard)

[2015-04-14 01:28] Klinenator opened #79 "Local File"
Anyone know how to get this to play a local mp3?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11087858-local-file?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=is

[2015-04-14 10:01] bencevans commented on #79
There's an example of how to play tracks from urls: https://github.com/bencevans/node-sonos/blob/master/examples/playthis.js

I'd suggest using a webserver and putting your tracks on it or writing a web server in node.js. Then you can give the sonos box the URL to the track you want to play.

[2015-04-14 10:01] #79 closed

[2015-04-20 14:28] #71 closed

[2015-04-20 14:30] bencevans commented on #60
Yep! This would be a good change to make. Feel free to open a pull-request else hopefully myself or someone else will be able to do this in the future.

[2015-04-20 14:31] bencevans commented on #66
Agreed. This would be good.

[2015-04-20 14:33] bencevans commented on #65
+1

[2015-04-20 18:16] djMax commented on #60
It's a bit odd - sometimes the URL comes back and sometimes it doesn't. Haven't figured out the rhyme or reason behind it yet. Once I do I'll send a PR.

[2015-05-05 18:36] milkisevil opened #82 "Get queued tracks playlist / re-order tracks in queued playlist"
I'm guessing that in theory this is possible, as the official Sonos client does it.

Just want to start the conversation. Has anyone considered this? How would it be built?

Is there a Sonos API reference or are you simply packet sniffing to figure out how to replicate functionality in the node-sonos API?

[2015-05-05 18:39] bencevans commented on #82
Would be great to have the functionality. Sonos seems to be based on
UPnP specifications but the best route I've found is to open up
Wireshark and inspect the packets while taking actions using their
controller.

On Tue, May 5, 2015 at 7:36 PM, Philip Bulley
<notifications@github.com> wrote:

[2015-05-15 12:37] jaumard opened #83 "TTS save/restore state"
Hi,

If sonos is playing and I want to use TTS, music is stop -> tts is playing -> and it doesn't restart current song/playlist ... How I can implement this ?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15038606-tts-save-restore-state?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We ac

[2015-05-17 10:11] bencevans commented on #83
From what I think I remember (it's been a while), Sonos does keep the
playlist when the mode is switched.

So by finding a way yo change back to the playlist mode rather than radio
stream/TTS stream. Then send a play command.

Sorry I can't be anymore specific. Please keep us posted as to your
findings!
On 15 May 2015 13:37, "Jaumard" <notifications@github.com> wrote:

[2015-05-22 15:27] VanCoding opened #84 "Find master sonos"
Hi bencevans!

Thank you for this useful library :)

When I group some sonos devices together, one of them is the master. I actually can see in the android sonos app, which one is the master and what devices are his slaves.

Is there a way to get that information with your library?

The problem I currently have is the following: I want to programmatically play a track on all devices. But when I do

[2015-05-24 09:59] bencevans commented on #84
Hi Patrik,

You're very welcome :)

You should be able to get the master device in a zone by using getTopology
then when sending commands for the zone, send them to the master device and
the others should follow.

It might be worth checking out the code in this repo as there are some
helpers that might help communicate with the UPnP services.

Keep us posted as to how you get on!

Cheers,

Ben
On

[2015-06-02 16:08] hypascend commented on #73
I hit the exact same issue today and I have a workaround/fix.  It would need someone with more knowledge of how it all works to figure out why it works in some environments and not in others.  My basic understanding is that the default broadcast that is used to search for Sonos devices fails.  I have a theory that it might be due to the broadcast address being invalid.

Anyway if you located the f

[2015-06-02 19:50] ktec commented on #73
Sorry I didn't finish up with this, I went off on holiday and my laptop died. Thanks for Sharing your solution @hypascend I'll give it a try when I get my laptop back.

[2015-06-02 20:50] ktec commented on #73
Works perfectly, thanks for sharing :bow:

[2015-06-02 21:42] hypascend commented on #73
You are welcome. :)

[2015-06-03 18:46] bencevans commented on #73
Thanks for sharing! I'm not sure why we broadcast on that address to be
honest. It was probably just what the Sonos Controller was doing back when
this was written.

Maybe we could broadcast on both.
On 2 Jun 2015 10:42 pm, "hypascend" <notifications@github.com> wrote:

[2015-06-03 21:32] hypascend commented on #73
239.255.255.250 is the Simple Service Discovery (SSDP) multicast address.  I suppose the question is, why are we trying to broadcast to a multicast address.  I think it might be worth doing some analysis on the setup of the broadcast socket as .

It could be that some networks/OS don't allow a broadcast to a multicast address and that is why we are seeing it only affect some people.  I think your

[2015-06-30 22:47] joeMJ commented on #73
Still have this in actual ubuntu trusty. Editing the sonos.js to match my local broadcast did not fix it. Machine is a vm within a qnap (maybe that bridging to local network has an issue, but anything else works flawless on that box). I'd love to have a config file to enter my 5 devices ip manually and skip search... this would help a lot.

[2015-07-01 03:58] bencevans commented on #73
@joeMJ you're able to create instances of the Sonos "class" without using the search interface. Check out https://github.com/bencevans/node-sonos/blob/master/examples/next.js for an example.

[2015-07-04 17:13] jishi commented on #83
Late answer, but to restore a queue on a player, you need to set the AVTransportURI to the following:

x-rincon-queue:[UUID of player]#0

This can be set by queueNext() or play() in this API if I interpret the code correctly.

[2015-07-07 17:39] jaumard commented on #83
Thanks! But I don't understand where I can have the UUID of player ? It's the name of the room ?
And if I want to restore the TV instead of a queue it's the same ?

[2015-07-07 21:56] jishi commented on #83
the UUID is usually UUID_ followed by the MAC address of the main interface, followed by 01400. I haven't used this library, but I'm sure it is available somehow.

If you by TV mean the line-in, it is instead x-rincon-stream:[UUID of player]#0

if you are talking about the spdif on the playbar, it is a bit different. I think it needs to be prefixed by "x-sonos-htastream" instead.

[2015-07-17 19:02] gers1978 commented on #73
Changing the broadcast address to 192.168.1.255 in songs.js worked for me (my router address is 192.168.1.254)

I had to use:

[code]sudo nano sonos.jsp[/code]

to edit it though

[2015-08-13 17:48] r1k commented on #73
I've been having a similar issue trying to run airsonos from an Ubuntu 15.04 box on my network - no sonos devices listed.  However it is working on my RaspberryPi 2 both running node 0.10.33.
After getting it working on the Raspberry Pi I was trying to getting it working in a docker image on my Ubuntu box without any joy, so I finally resorted to installing it natively to the Ubuntu box and still

[2015-08-15 20:56] kyvinh commented on #83
What I did was add the `TrackURI` metadata to the track object returned by `currentTrack()` like this: (note the usage of `data[0].TrackURI[0]`)

[code]

This `TrackURI` looks like `http://192.168.0.135:8282/test.mp3` (for my notifications) or `x-sonos-spotify:spotify%3atrack%3a2QfNZWOVYeycSM2bmrpm9W?sid=9&flags=8224&sn=1` (for Spotify) or `x-rincon-mp3radio://ice14.infomaniak.ch:80/lapremiere.mp3

[2015-09-11 15:21] YellowLemon1 commented on #73
I had this same problem. Changing the broadcast address did not work. The solution: remove my 'Sonos Bridge' from the Sonos system, and either: connect ethernet directly to a speaker, or use standard WiFi setup with the Sonos. I went with the latter as Sonos themselves have now deprecated the Bridge device. The Bridge must be blocking/dropping the broadcasts from getting onto the SONOS-NET where t

[2015-09-11 18:41] bencevans commented on #73
Unfortunately I can't test this as have always just used the standard WiFi
setup with the devices I've got :/
On 11 Sep 2015 16:21, "Yellow Lemon" <notifications@github.com> wrote:

[2015-09-11 23:21] YellowLemon1 commented on #73
It doesn't matter, the problem is a non-issue because using a SONOS Bridge is now unnecessary for most people. I'm just commenting here to document my experience/make others aware. Cheers.

[2015-09-12 14:41] bencevans commented on #73
Awesome, cheers :)

On Sat, 12 Sep, 2015 at 12:21 AM, Yellow Lemon
<notifications@github.com> wrote:

[2015-09-18 14:46] datadl commented on #73
Worked like a charm!!!!!!!!! Thanks so much :+1:

[2015-09-27 16:31] chamat commented on #73
Hi I am a newbie, and I am wondering how do i locate the sonos.js file???

I followed the instructions for the installation but it gets stuck @ searching for sonos devices on network

Thanks

[2015-09-27 19:28] vincentpalita commented on #73
Hi @chamat,

if you are on a mac: /usr/local/lib/node_modules/airsonos

Cheers,
Vincent

[2015-09-27 19:44] bencevans commented on #73
@chamat If you've installed the module locally in your project and then it's found at `node_modules/sonos/sonos.js`.

[2015-10-02 17:35] #8 closed

[2015-10-02 17:35] #9 closed

[2015-10-02 17:35] #10 closed

[2015-10-02 17:35] bencevans commented on #23
Added by #89

[2015-10-02 17:35] #23 closed

[2015-10-02 17:37] #46 closed

[2015-10-02 18:30] #77 closed

[2015-10-08 00:20] bencevans commented on #73
@gers1978 suggestion has worked for me. Shall try and find a way of picking that network automatically in the library else maybe broadcast on all networks

[2015-10-16 15:57] bencevans commented on #73
I've started #101 to see if there's a way of fixing this within the project so that it can work out of the box. Reviews are much appreciated! :)

[2015-10-24 15:03] #59 closed

[2015-11-02 11:51] ryanjohnstone commented on #84
I can get the master device using topology but can't see how I would send a command to it. Would I have to parse out the IP address from location and use that to create a new Sonos object to call the commands with?

[2015-11-05 00:21] bencevans commented on #84
Sounds like you've got it sussed there! We'd like to use zones as default
in the future rather than addressing logical devices however time is a bit
stretched at the moment. You're very welcome to check out the 1.x branch
where @stephen has been hard at work towards it however it's to be
considered unstable and a work in progress!

On Mon, Nov 2, 2015 at 11:51 AM, ryanjohnstone <notifications@gith

[2015-11-05 00:24] bencevans commented on #84
As for the addSpotify issue, that does seem odd as looking at the code it should be queued as the next song (which I'm not actually happy with, instead it should be added to the end from that naming convention)... https://github.com/bencevans/node-sonos/blob/ca2c9870762ad0932e1bcc0fb0ae5818631f0753/lib/sonos.js#L518-L534

Please could you let us know what version of node-sonos you're using so we c

[2015-11-08 17:05] lazerdye opened #106 "No artist or title for radio stream (SirusXM)"
I have Sirius XM playing, and when I check the current track, I see:

`{ title: 'x-sonosapi-hls:r:altnation?sid=37&flags=288',
  artist: null,
  album: null,
  albumArtURI: 'http://www.siriusxm.com/albumart/Live/1630/kopecky_562FC292_m.jpg',
  position: 27195,
  duration: 0,
  albumArtURL: 'http://www.siriusxm.com/albumart/Live/1630/kopecky_562FC292_m.jpg' }`

The title is a weird URL, and the art

[2015-11-08 17:07] lazerdye commented on #106
FYI, it looks like the r:streamContent field appears in other streams, but is blank, here's a Spotify DIDL:

<DIDL-Lite xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:upnp="urn:schemas-upnp-org:metadata-1-0/upnp/" xmlns:r="urn:schemas-rinconnetworks-com:metadata-1-0/" xmlns="urn:schemas-upnp-org:metadata-1-0/DIDL-Lite/"><item id="-1" parentID="-1" restricted="true"><res protocolInfo="sonos.com-

[2015-11-12 11:14] ryanjohnstone commented on #84
Using version 0.8.0 but just realised in my actual project I'm using your lib from an npm package, specifying version 0.8.0 and the addSpotify method is missing from sonos.js. Not sure why that would be? Does the npm module need updating or something?

[2015-11-12 11:44] bencevans commented on #84
Fraid publishing has been a bit lax recently due to other workload. I've just published v0.9.0, update the npm module to that `npm install --save sonos@0.9` and you should have the addSpotify method available to you :)

[2015-11-12 11:48] ryanjohnstone commented on #84
Awesome, thanks

[2015-11-15 20:59] bencevans commented on #106
Thanks for doing the research @lazerdye. Unfortunately I'm tight on time for a few weeks. If you'd be up for opening a pull-request implementing the parsing of r:streamContent into the title/artist when `dc:title` etc. is missing I'd happily review and get merged sooner!

[2015-11-22 21:27] bencevans commented on #73
https://github.com/bencevans/node-sonos/issues/73#issuecomment-139685145

[2015-11-22 21:27] #73 closed

[2016-01-13 12:20] luisfpinto opened #116 "Npm update"
Hello!
I'm installing node-sonos through npm but I think is outdate because is 0.9 version . Could you please confirm me that you have updated the repository?

Thank you!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29837486-npm-update?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accep

[2016-01-14 01:09] bencevans commented on #116
Hi @luisfpinto

I can confirm the npm repository is up to date. The version can be seen as 0.11.0 at https://www.npmjs.com/package/sonos

Maybe try pulling the set version: `$ npm install sonos@0.11.0`

:smiley_cat:

[2016-01-14 01:09] #116 closed

[2016-01-18 19:35] n1mda opened #118 "Queueing Spotify track pauses playback and breaks queue"
Using `addSpotify(track_id, callback)` the track get set as the current track, but playback is paused, and it  Sonos no longer uses the queue
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29987694-queueing-spotify-track-pauses-playback-and-breaks-queue?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source

[2016-01-20 03:22] fwboettger opened #119 "Topology Events Subscription Help needed"
Need some advice / support please with the Topology Event Subscription stuff:

I'm currently looking into the extending the homebridge-sonos plugin (https://github.com/nfarina/homebridge-sonos) to subscribe for sonos topology change events and to react accordingly to it (see also https://github.com/nfarina/homebridge-sonos/issues/4 in case of interest).

Based on the zoneTopologySubscription.js ex

[2016-01-21 18:08] bencevans commented on #119
I'm afraid I've not done a huge amount with the events. I'd suggest checking out the UPnP Specifications at http://www.upnp.org/specs/

They may be able to shed more light on how subscription renewel etc. should be handled.

Sorry I can't be of more help.

Kind regards

Ben

[2016-01-21 18:08] #119 closed

[2016-02-14 09:41] fwboettger opened #121 "Listener - EHOSTUNREACH unhandled exception"
Using node-sones' Listener functions with the homebridge-sonos plugin. After running a few days, i do get unhandled exceptions:

events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: connect EHOSTUNREACH
    at exports._errnoException (util.js:746:11)
    at TCPConnectWrap.afterConnect [as oncomplete](net.js:1010:19)

Tried to figure the root cause, but struggling with it st

[2016-02-14 10:23] fwboettger commented on #121
does happen also independent of the event subscription, see "Error: socket hang up" another user reported at https://github.com/nfarina/homebridge-sonos/issues/19... (the version being in use there is the one without the subscription)

[2016-02-17 13:50] fwboettger commented on #121
Found it (using longjohn). There's an issue with the code in the Listener.prototype._renewServices function, will work on an attempt to resolve (will also require some test runs for several days I suppose) and - in case I believe all good - will submit a pull request.

[2016-02-17 19:01] bencevans commented on #121
Awesome thankyou very much!

[2016-02-20 11:48] skibum333 commented on #121
Hello @fwboettger.  Great news.

[2016-03-18 18:12] gmon3y commented on #73
I used Docker to get it all installed on my NAS drive and it installs just fine but seems to hang at searching for devices, similarly to the issues others in here had/have. I adjusted the sonos.js file to reflect that of my subnets broadcast address and it resulted in the same issue. I also confirmed that multicast works just fine on my network.

Does anyone have suggestions? Any help appreciated!

[2016-03-20 15:26] bencevans commented on #73
Hi @gmon3y

Have you had any more luck so far?

Else please can you supply example code, dockerfile, node-sonos version.

Is this from AirSonos or using node-sonos directly? If AirSonos, browsing the AirSonos's issues may be handy... https://github.com/stephen/airsonos/issues/30

Cheers,

Ben

[2016-03-20 23:07] gmon3y commented on #73
Hey @bencevans

Thank you for the reply. It is the AirSonos I am using currently. I pulled the docker from: leachbj/airsonos by using the following command: 'docker run -d --restart=always --net="host" --name="airsonos" -p 5000-5050:5000-5050/tcp leachbj/airsonos'

When I performed the AirSonos diag, it displayed version 0.10.40 for Node-sonos but it too hung at the searching for devices stage.

B

[2016-03-20 23:22] bencevans commented on #73
Is there some sort of VPN or funky network management on your NAS?

I'm running this on an Ubuntu 15.10 host with Docker and an OpenVPN VPN...

**Connected to VPN**... No devices found by Docker container.

[code]
Nothing happens for a minute... [Ctrl-C]
[code]

**Disconnects from VPN** - AirSonos discovers the Sonos device on network within a few seconds

[code]

[2016-03-21 01:04] gmon3y commented on #73
@bencevans that is interesting. I did read some where that they had a similar issue and it turned out to be some VPN functionality. I did have VPN server set up on the nas itself. I disabled them but never actually removed/reinstalled after disabling the VPN. Just disabled VPN and restarted the container. I will give that a shot when I get home.

Thanks,
Jorge

[2016-04-10 16:10] mnatte opened #123 "Playlists search only returns m3u"
Somehow i cannot find the playlists i defined in my sonos system under Sonos playlists. The searchMusicLibrary only returns (imported) .m3u files. How can i get the Sonos playlists that i have defined in the Sonos app? Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32799785-playlists-search-only-returns-m3u?utm_campaign=plug

[2016-04-21 00:37] sseiber commented on #118
addSpotify is returning:
HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#SetAVTransportURI"

I'm using "spotify:track:1sTAjaPsXRBfdSLrC0PVUS" as the track id and I have tried others.

I find that it also stops current playback, but it does not set the current track, or pause playback.

I also attempted to add a Spotify track id with the sonos-cli tool, as well as the sonos_c

[2016-04-21 19:12] bencevans commented on #118
I don't believe this is broken as per @sseiber's comment but do believe it's poor in design.

`.addSpotify(trackId, callback)` just accepts the track id, NOT the full URI. For example with your Spotify URI 'spotify:track:1sTAjaPsXRBfdSLrC0PVUS', you need to use `.addSpotify('1sTAjaPsXRBfdSLrC0PVUS', callback)` to set the track.

I've found the same as @n1mda when just a Spotify track id is provide

[2016-04-22 07:34] sseiber commented on #118
Thanks for the reply Ben.

I've changed the way I'm getting the Sonos object and I'm now observing the playback stops as you and @n1mda describe, but I'm still getting the error:
HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#SetAVTransportURI"
and the queue is disconnected.

My code is this:

const Sonos = require('sonos');
var sonos = new Sonos.Sonos(sonosIp);
sonos.addSp

[2016-04-23 06:11] sseiber commented on #118
I did a bit of investigating today with WireShark. I found that when I use the Sonos app to add a Spotify track to the queue I see a SOAP body with AddURIToQueue in the body. When I use the addSpotify api from the library I see a SOAP body with SetAVTransportURI in the body.

I experimented with this and modified the addSpotify api to call Sonos.queue (which uses the AddURIToQueue wrapper) vs. the

[2016-04-25 02:39] rno opened #125 "Add support for Sonos playlists"
In this [PR](https://github.com/bencevans/node-sonos/pull/124) I added support for Sonos playlists.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33292546-add-support-for-sonos-playlists?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2016-04-25 07:43] sseiber commented on #118
@bencevans I just created a PR for supporting Spotify track uris for Play and Queue. See the notes in the PR.

[2016-04-27 22:02] bencevans commented on #123
https://github.com/bencevans/node-sonos/pull/124 may well be what you're
looking for. Shall check and merge when I can.
On 10 Apr 2016 5:10 pm, "mnatte" <notifications@github.com> wrote:

[2016-04-28 08:43] #84 closed

[2016-05-08 18:47] rno opened #128 "Add support for Favorites Radio"
In this [PR](https://github.com/bencevans/node-sonos/pull/127) I added support for Sonos Favorites Radio (stations and shows).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34030176-add-support-for-favorites-radio?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2016-05-09 10:35] #128 closed

[2016-05-09 10:37] #123 closed

[2016-05-13 22:54] rno commented on #125
This is merged now.

[2016-05-13 22:54] #125 closed

[2016-05-20 10:33] antonkluev opened #129 "Groups and Stereo Combos Controls"
Hi, guys!
Sorry for my "dumpness" but i can't figure it out, how can i group, ungroup, make stereo-pairs and control groups/stereopairs with node-sonos.js? Only what ive founded is "node-sonos/examples/zoneTopologySubscription.js". If i understand correct, this is a grouping of speakers, but this example don't explain very well how can i use it. Please explain this.
And thank you!
##

<bountysourc

[2016-05-31 00:17] bencevans commented on #129
Hi @antonkluev

I'm afraid the grouping controls haven't been written in this project. We've got some undocumented service files in `/services` that might be of some help if you're looking into it. A pull request would be very welcome if you do.

[2016-07-13 09:35] htilly opened #133 "getQueue ?"
Hi!

Quick question. What happened with the getQueue function?

BR
Tilly

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35984684-getqueue?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2016-07-13 13:16] bencevans commented on #133
Hi @htilly

I'm not sure that it's ever been implemented in this library...

[code]

The python library SoCo supports getting the queue https://github.com/SoCo/SoCo/pull/214/files
Any pull-request adding such functionality would be greatly appreciacted. At the moment you can get the current track with `sonos.currentTrack((err, track) => { ... })`.

[2016-07-19 18:47] #133 closed

[2016-07-19 18:47] bencevans commented on #133
Added in bfb995610c8aa20bda09e370b0f5d31ba0caa6a0

[2016-08-04 16:14] nickdandakis opened #136 "Inconsistent device discovery"
Searching for Sonos devices either returns the incorrect number of devices, or returns devices that appear to have no music playing (except they do).

I've also noticed that if I try to search for devices too much, my official Sonos app shows all devices, but with no active music. This is being done in an office with 8 Sonos devices and ~100 people of which maybe half use Sonos regularly.
##

[2016-08-05 09:31] bencevans commented on #136
Hi @nickdandakis

I've not seen this on my network but just 3 sonos devices. Please could you add some examples of the data your getting our even better debug it a bit more yourself. I'm always traveling about atm so don't get to play with Sonos so much anymore.

Cheers,
Ben

[2016-08-17 21:11] albinekb commented on #136
I've seen the same thing, searching again solves the issue.
Will investigate and see if I can find a solution this weekend 👍

[2016-08-17 21:11] albinekb commented on #129
How did you write this initially? Is it easy to just use wireshark and check what's going on under the hood?

[2016-08-17 21:12] bencevans commented on #136
That'd be grand, thank
you!![](https://link.nylas.com/open/ccdnajhyk0b7h8vev2g4lmfjo/local-c89490e9-5
f13?r=cmVwbHkrMDAwOWJlNDc5Y2NiNTQyODc1MjM3NDUwMWZiNTY2NjYwZjVhMGE2ZDMxNzY2Y2Mw
OTJjZjAwMDAwMDAxMTNjYzk0ZTQ5MmExNjljZTBhMTkwZDM2QHJlcGx5LmdpdGh1Yi5jb20=)

On Aug 17 2016, at 10:11 pm, Albin Ekblom <notifications@github.com> wrote:

Will investigate and see if I can find a solution this weekend 👍

Y

[2016-08-17 21:13] bencevans commented on #129
Yep, exactly how I did it haha. There's a few other libraries about written in
Python & Ruby that have been helpful as well
though![](https://link.nylas.com/open/ccdnajhyk0b7h8vev2g4lmfjo/local-
940392ca-97a7?r=cmVwbHkrMDAwOWJlNDdhZWFiNzg1ODZlN2EwNjIyYWQ2MmRhODczYjViNjdhOT
dhMzIxMzE0OTJjZjAwMDAwMDAxMTNjYzk1MGU5MmExNjljZTA5NGI1ZDljQHJlcGx5LmdpdGh1Yi5j
b20=)

On Aug 17 2016, at 10:11 pm, Albin Ekblo

[2016-08-26 10:33] swissjon commented on #73
@gmon3y did you ever solve your issue? I'm having same problem.

[2016-08-31 22:30] iheart2code commented on #46
I am currently experiencing this issue. Is it fixed in another branch or something?

[2016-08-31 23:04] iheart2code commented on #46
I think this is caused by including a Speed argument in the Next command.

See https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L505

[2016-09-07 19:30] bencevans commented on #65
In review I don't think very many users need this option. If you're looking to listen on specific ports checkout @driskell's work on https://github.com/bencevans/node-sonos/pull/135 and https://github.com/bencevans/node-sonos/pull/137

[2016-09-07 19:30] #65 closed

[2016-09-13 19:11] ebaauw commented on #58
I encountered the same issue, not just with MediaRenderer, but also for DeviceProperties and ZoneGroupTopology.  Probably some more services as well, but I'm not using these.

I'm new to Sonos and was quite happy to find these services.  I found out by now that they can also be found in the /xml/device_description.xml of your Sonos Player.

I'm integrating Sonos in my Apple Homekit setup by creati

[2016-09-13 19:25] ebaauw commented on #129
I also wanted to join/leave groups and I managed to figure it out from the lib/services files, Wireshark and /xml/device_description on the Sonos.

Setup a service, for Player at host:port
    avTransport = new require("sonos").Services.AVTransport(host, port);

Join group of coordinator specified by UUID
    let args = {
      InstanceID: 0,
      CurrentURI: "x-rincon:" + coordinator.uuid,

[2016-09-13 19:59] ebaauw opened #140 "Wrong Listener return address"
I'm subscribing to events from my Sonos Player using `Listener.prototype.addService()` in `lib/events/listener.js`.  On line 116, it calls `ip.address()` to get the host's IP address for the return URI.

I like the idea of detecting the address, rather than having to specify it explicitly.  This works brilliantly  on my laptop, which has a single IP address.  However on my server, which has multip

[2016-09-27 16:16] Rhaegar79 opened #141 "Play favorite radio station"
Hello,

I got the URI of a favorite radio station with .getFavoritesRadioStations() and then tried to play it like this:

[code]

The station won't play and I get this error:

What am I doing wrong?

Thanks for this great project!

Kind regards
Rhaegar

[2016-09-27 19:21] Rhaegar79 commented on #141
I should clarify: It's a TuneIn radio station.

When I use .queueNext() instead of play, the radio station is set as the current track. If I invoke a play afterwards, the radio station is played.
For URI I can't use the one I get with .getFavoritesRadioStations(). But, if I use the URI I get with getPositionInfo(), it works:
x-rincon-mp3radio://wdr-mp3-m-wdr2-muenster.akacast.akamaistream.net/7/34

[2016-09-29 22:31] kswilster opened #142 "500 Errors with several Endpoints"
Using `Sonos#play`, `Sonos#next` and other methods I get the following errors.

ERROR: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Play"
ERROR: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Next"

I have encountered these through use of the [sonos-cli](https://github.com/bencevans/sonos-cli) project as well as using this API directly.

<bountysou

[2016-11-10 15:53] Pierre-Gilles commented on #142
I have these errors as well when trying to play music using spotify :

`[Error: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#AddURIToQueue"]`

Here is my code, it's basically the example :

[code]

[2016-11-12 20:48] svrooij commented on #83
I'm going to try out this code, and make a pull request for it (if it works).
The only change you made is implementing the ``trackUri`` in the ``currentTrack`` call right?

[2016-11-13 07:33] kyvinh commented on #83
Yes, that's all. There are edge cases where it is neither a radio nor a queue that was previously playing but I don't remember. I don't use sonos anymore...

[2016-11-14 16:36] #60 closed

[2016-11-14 16:36] #83 closed

[2016-11-20 15:02] ebaauw opened #144 "`node-uuid` depreciated"
When installing `sonos` through npm, it get a warning:
`npm WARN deprecated node-uuid@1.4.7: use uuid module instead`

It looks like `sonos` is using an old version of `request`,  `request@2.27.0`, which depends on `node-uuid`.  Later versions of `request`, e.g. `request@2.79.0`, use `uuid` instead.

[2016-11-22 11:57] motiejuss opened #145 "Retrieve Guest/User info"
Hi

Is it possible to subscribe to some sort of `onTrackChange` event and retrieve some basic info about the Guest/User device which changed the track in Sonos?

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39449749-retrieve-guest-user-info?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github

[2016-11-25 18:34] nitriques commented on #142
I have a similar error using the cli

[code]

[2016-11-30 08:59] #144 closed

[2016-11-30 09:10] #58 closed

[2016-11-30 09:18] bencevans commented on #142
I'm unable to reproduce. Is anyone able to provide more information as to what you were trying to play and/or what was playing before. I.e. radio/spotify/local library

@kswilster @nitriques your issues may be the same here however this is working for me...

[code]

@Pierre-Gilles #118 may be more in line with the issue you're seeing.

[2016-12-01 21:34] htilly commented on #142
Hi guys.

Don´t know if this is related, but we´re having the same problem with our Sonos.
If we use:
sonos.addSpotify
we´re receiving an 500 error...

But if we uses sonos.addSpotifyQueue, everything works fine...

BR Tilly

[2016-12-02 12:47] jangrewe commented on #142
Hi all, i can confirm what @htilly says, i have to use addSpotifyQueue() to make it work.

[2016-12-08 22:56] svrooij commented on #145
Sonos doesn't do user management. Everyone on the same network can control it, even though the official control has some sort of "press the button" authorization. This means that it will just accept the control from whatever device sending.

You can however receive a signal when something changes in the transport stream (next song or something like that). Take a look at [examples/transportEvent.js

[2016-12-09 07:49] pizarrodiego opened #147 "Qobuz music service"
Hello,

I see you have built-in support for Spotify, would it be possible to add Qobuz as an additional music service?

[2016-12-09 12:13] motiejuss commented on #145
Thanks!

On Thu, Dec 8, 2016 at 11:56 PM, Stephan van Rooij <notifications@github.com

--
Med venlig hilsen / Kind Regards

Motiejus Bagdonas
WEB developer

Mob. tel.: +45 535 358 42

[2016-12-11 04:07] amitgandhinz opened #148 "PLAYBAR | Switching between TV Audio and Music"
Has anyone looked into the ability to programmatically switch the Audio streams on the Playbar?

When using functions such as `play` and `stop`, they will only work when the Playbar is in Music mode.  While in TV mode with the audio in line, it will return a 500.

Basically I want to be able to call `play()` and have the sonos switch to audio mode and start playing the queue/playlist.  When I stop

[2016-12-11 14:39] bencevans commented on #147
Pull request welcome :)

[2016-12-11 14:43] bencevans commented on #148
Aaah yes, this may well be the background to #142!

Support for switching manually too would also be great.

[2016-12-11 14:47] #140 closed

[2016-12-11 14:52] #145 closed

[2016-12-11 16:03] amitgandhinz commented on #148
im going to see what i can find out here.

just noting helpful hints here as i investigate how to switch the input
- https://github.com/SoCo/SoCo/blob/master/soco/core.py#L980

[2016-12-15 22:35] nitriques commented on #142
@bencevans I still get the error, even after usign sonos.addSpotifyQueue.

I am running the cli, which uses an old version of the lib.

[code]

I tried to update, but it's now crashing the sonos itself...

[2016-12-17 10:30] jabooth opened #149 "Typescript definitions?"
I'm a little confused, on the `CHANGELOG.md` it's mentioned under [Unreleased] that

But I can't see find the relevant types/PR on DefinitelyTyped or on this repo...am I missing something?

I might be able to contribute the types if they haven't already been done, but obviously don't want to duplicate work!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2016-12-17 15:16] ebaauw opened #150 "Search() crashes when called with a timeout."
I recently upgraded from node-sonos@0.8.0 to node-sonos@0.12.1.

When I call the `Search()` function with a `timeout` specified in the `options`, node-sones crashes with the following error:

As far as I can tell, `self.socket` has been closed by the timeout (line 1073), causing this error.  I think the timeout needs to cancel `self.pollTimer` before closing `self.socket`.

<bountysource-plugin>
-

[2016-12-17 15:52] ebaauw commented on #148
When the Playbar is in TV mode it doesn't accept Play nor Pause, Next, ..., hence the 500 error code.  The Sonos app disables these controls when in TV mode.

When in TV mode, the Playbar plays a stream of type `x-sonos-htastream`.  This is different from the audio in of a Play:5 or Connect, which are of type `x-rincon-stream`.  As far as I can tell, the only way to get the Playbar out of TV mode

[2016-12-18 01:00] bencevans commented on #149
Oh damn, that was for a different project (node-influx). Doh! Happy to add TypeScript definitions if you're up for maintaining?

[2016-12-20 20:42] Easen commented on #150
Opened a pull request #151 to resolve this issue, I take no credit for this @ebaauw did all of the hard work tracking it down!

[2016-12-28 22:30] bencevans commented on #150
Fix released in [`v0.13.0`](https://github.com/bencevans/node-sonos/commit/46179a8292d0c2499eee0b0795be9774103bd5c7).

[2016-12-28 22:30] #150 closed

[2016-12-28 22:30] #149 closed

[2016-12-30 08:47] ebaauw opened #152 "GroupRenderingControl service missing"
The GroupRenderingControl service is missing from services.

I'll try and create a pull request to include this service, but I haven't done that before.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40494104-grouprenderingcontrol-service-missing?utm_campaign=plugin&utm_content=tracker%2F276575&utm_medium=issues&utm_source=github)**

[2017-01-02 14:43] bencevans commented on #152
Released in `sonos@0.14.0`.

[2017-01-02 14:43] #152 closed

[2017-01-15 01:21] Olf42bur opened #155 "LineIn support ?"
Hello,

I don't know if I miss something but I don't find the LineIn support.
I can see that there is a service for that, but I don't see how to use it...

The usage would simply to be able to **set** and **get** the **LineIn** mode.

Is it actually possible ?

Thanks !

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42655124-linein

[2017-01-23 21:24] gupsho opened #156 "Unique Id for each sonos amongst a group"
Hi,

I am trying to use this library for a project. I have 2 sonos speakers on my network and need to uniquely identify each speaker uniquely and save this information for future use. When I try the search example, I get model for both the speakers as 'ZPS12' and the device info is same as well. Only thing different is the ip.

I found uuid as one of the fields that search api gets when discoverin

[2017-01-23 22:03] #156 closed

[2017-01-31 00:20] gupsho opened #157 "Possible EventEmitter Leak in code"
Hi,

I am using the library to search for sonos devices on my network. And I never destroy the search object. After a couple minutes of my process running I see this error

Possible EventEmitter memory leak detected. 11 timeout listeners added. Use emitter.setMaxListeners() to increase limit

I see that at /lib/sonos.js:1082, the onTimeout listener gets aadded again and again and is not removed.

[2017-01-31 01:15] gupsho commented on #157
I tried fixing it in https://github.com/bencevans/node-sonos/pull/159

[2017-02-04 16:46] milymat opened #160 "Alarm Clock Control"
Hi,

there are no instructions how to use the AlarmClock in API.md

Maybe someone can post instructions for Create, Update and Delete Alarm.

thx

[2017-02-14 01:31] gupsho opened #161 "Album art missing for google play music"
In the code we check if the url contains 'http' else prefix the host and port to the url before returning response.

In case of google, I see album art url could be of type:
upnp:albumArtURI":["/getaa?s=1&u=x-sonos-**http**%3aA0DxxxxxhowsK1zj-mKOxxxx6hriew0xxxxUxxxxA.mp3%3fsid%3d151%26flags%3d32%26sn%3d5"
where url might contain the work http inside it and might still not have host and port.

We s

[2017-02-23 16:28] jthawme commented on #142
I was having this issue too, and it seems to be at least for my case that its because the queue was not in use.

If I had something already playing then used for instance the '.play()' command, it would work correctly.

Is there any command to put the queue in use from the API?

[2017-02-23 16:33] jthawme commented on #142
Apologies, just seen in the code there is in fact a selectQueue function, it just isnt in the API readme

[2017-03-02 06:20] toddanglin opened #165 "Question: Sonos.js vs Services classes"
Hey Ben-

First, great project! Thanks for sharing and helping make it easier control Sonos systems from Node/JavaScript. Mucho appreciated.

I'm trying to adapt this library to work in NativeScript mobile projects, and I have a question about the `Sonos.js` class versus all of the classes in `Services` (as there is some overlap).

**Was the intent with the `Service` classes to refactor the code t

[2017-03-03 20:08] toddanglin commented on #160
I'm far, far from an expert on this library, but I've been spending some time with it this week, so I'll share what I think I know.

**TL;DR** The AlarmClock operations are not "fully" supported in this library yet. But with a little work, you could probably enable them.

There are a number of "stubs" for additional Sonos capabilities in the `lib > services` directory that are not yet exposed via

[2017-03-03 20:13] toddanglin commented on #155
I believe the answer to this question is similar to an answer/observation I just posted [related to the AlarmClock service](https://github.com/bencevans/node-sonos/issues/160#issuecomment-284057480).

In short, I think the only "Service" currently fully enabled in this library is `ContentDirectory.`

All other Services are "stubs" that would require some extra work to fully enable, including `Audi

[2017-03-06 10:58] bencevans commented on #155
Thanks Todd, this is true. I'm not actively working on node-sonos currently
and just try to review pull-requests and release along with a few other
maintainers. If you're to use one of the service files and make improvements
we'd love to get it into a release and always looking for people to join the
maintenance effort.![](https://link.nylas.com/open/ccdnajhyk0b7h8vev2g4lmfjo
/local-8e175e06-f45e?

[2017-03-07 14:53] toddanglin commented on #155
Thanks, Ben. That's what I thought. Will definitely take a look at what I can add.

In the meantime, my work-in-progress adapting this code for NativeScript is here:
https://github.com/toddanglin/nativescript-sonos

Shifted to TypeScript (for embedded type info) and Promises. So far just covered same APIs as this library, but will look at some of the other services soon.

[2017-03-12 11:47] bencevans commented on #165
Hi Todd,

I originally generated the service files with the thought that they'd be used more in place of the monolith. To use them effectively I think we'd need a generic Service which they extend providing helpers (request/response parsing, connection management etc.). It would be great to move to in the future however I don't see myself working on this any time soon. Pull-requests are gratefully

[2017-03-12 11:47] #165 closed

[2017-04-10 11:19] simondid opened #166 "tunein radio"
hey

so i'm working on a java based sonos controller and was hoping you might be able to help me

i'm having truble adding / playing radio stations from tunein and i was hoping you cut post the raw calles you make to the sonos device when adding / playing a radio station

[2017-04-10 13:22] bencevans commented on #166
Hi

The code we use you can find at https://github.com/bencevans/node-sonos/blob/e27de740fa7415f2616fc440283383cab2ddabbe/lib/sonos.js#L577-L603

If you're wanting to inspect the raw packets I'd suggest getting yourself [Wireshark](https://www.wireshark.org/) and using the Official Sonos Client you can inspect the packets sent/received.

[2017-04-10 13:22] #166 closed

[2017-04-10 15:20] simondid commented on #166
that is what i'm doing but it seems to give some wired result like adding 2 diffrent trakcs/streams to the queue ore start playing the radio station but this dos contain a usefull name ore track/stream picture

[2017-04-11 23:32] gupsho opened #167 "Can we expose the Listener module?"
I would like to get callbacks whenever state for Sonos changes rather than polling. Is it possible to expose the listener module?

For now I made changes locally in my fork here:
https://github.com/gupsho/node-sonos/commit/c8fda261637e10899a4558ed84494957a21ab49b

Is it possible to support it in here?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountys

[2017-04-12 03:09] mrose17 commented on #167
please submit a pull request!

[2017-04-16 03:03] bencevans commented on #167
PR @ #168. Waiting for #196 review + merge to fix Travis test before merging #168.

[2017-04-16 03:03] #167 closed

[2017-04-25 13:49] laurensV commented on #142
calling selectQueue() before doing queue or queueNext or addSpotify does not fix the issue for me :(

[2017-04-25 17:55] ebaauw commented on #160
This is actually documented on the ZonePlayer itself.  See `http://<zoneplayer_ip>:1400/xml/AlarmClock1.xml`.

[2017-04-25 18:02] ebaauw commented on #155
As far as I understand, there is no "line-in mode".  To select line-in, simply select a music source of type `x-rincon-stream`.  See also issue #148.

[2017-04-28 16:11] albinekb commented on #142
same here @laurensV

[2017-04-30 08:55] svrooij opened #170 "Short announcement and continue playing"
I was wondering how to implement the following:

1. Sonos is either playing or paused
2. I play an MP3 (either a gong sound or an announcement e.g. Google TTS)
3. Sonos should continue the previous state (restore playlist and same state at 1.)

Is there an method for this? Or should I query the playlist & status then play MP3 and then manually restore the playlist and state?

<bountysource-plugin>

[2017-05-19 20:46] ds82 commented on #142
I'm having the same issue. If I compare the UPNP message that the sonos app and this node module sends to play a spotify playlist, they are quite different.

This module:
[code]

sonos App:
[code]

Does this may give any hint why its not working for some users?

[2017-05-22 08:24] ds82 commented on #142
Further digging showed, that node-sonos indeed sends ``x-rincon-cpcontainer`` messages, too (I honestly don't know what I did to produce the ``x-sonos-spotify`` message posted above). Anyway, I looked further and found the solution for my specific problem.

Another differences between the sonos app and this module are the meta data. The message this module sends contains the string ``SA_RINCON3079

[2017-05-22 08:36] ds82 commented on #142
It seems, that ``SA_RINCON2311_X_#Svc2311-0-Token`` is the service ID for spotify EU. I assume, that ``SA_RINCON3079_X_#Svc3079-0-Token`` is spotify US.

@everone who reported the bug before me - let me guess - you all are using spotify EU?

[2017-05-22 10:22] htilly commented on #142
@ds82 yes, can confirm EU!

[2017-05-22 21:30] #142 closed

[2017-05-22 21:40] bencevans commented on #170
You will need to restore some sort of state. That may be the current track that's playing and progress through or the type of input (line-in/stream/queue).

I'm going to close this as an issue. Would love to hear if you work out a method. Please feel free to use this to discuss if anyone else joins!

[2017-05-22 21:40] #170 closed

[2017-05-23 22:20] albinekb commented on #142
Awesome!! Thanks

[2017-05-24 06:57] ds82 commented on #142
@nitriques Can you use tcpdump to record a play tcp message from the official sonos app that works for you?

[2017-05-28 14:50] FlavioKt opened #173 "Refusing to install sonos as a dependency of itself"
Hi,
I'm trying to install node-sonos, but the command "npm install sonos" ends with the message
"Refusing to install sonos as a dependency of itself".

[npm-debug.txt](https://github.com/bencevans/node-sonos/files/1034255/npm-debug.txt)

Could you help me?

Thanks in advance

Flavio

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Pro

[2017-05-28 15:17] bencevans commented on #173
When in this repository you should just run `npm install` to download the dependencies.

[2017-05-28 15:17] #173 closed

[2017-05-28 15:59] FlavioKt commented on #173
Hi,

thanks for the very prompt response.

Another question: I tried to run using "npm start", as for other packages, but I got the answer:

"E:\Sonos\node-sonos-master>npm start
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v6.10.3
npm ERR! npm  v3.10.10

npm ERR! missing scr

[2017-05-29 18:34] nitriques commented on #142
Would it work if I use a dev proxy ? Is it all http ? Or could I use wireshark ?

[2017-06-02 17:19] MexXxo opened #174 "npm Version does not match git Features"
The current npm version, does not match the API / Features that are described in the Git Master.
I ran into the issue, that I was trying to use the setSpotifyRegion (btw. example and API.md are telling two function names: setSpotifyRegion and setRegion) and figured out that it is not part of the current npm Version (0.14.1).
I would suggest to use a branch for the current develop as otherwise peop

[2017-06-04 17:24] #161 closed

[2017-06-04 17:25] bencevans commented on #157
Thanks!

[2017-06-04 17:25] #157 closed

[2017-06-04 17:45] bencevans commented on #174
Hi @MexXxo, the version on npm has now been bumped to `v0.15.0` https://github.com/bencevans/node-sonos/commit/afadd1ae80ae22274a4cd33579ccc9dc109bb6ee

Thanks for raising this, if you have any suggestions as to how best to make this obvious to future users please do share.

[2017-06-04 17:45] #174 closed

[2017-06-04 17:45] bencevans commented on #174
Hi @MexXxo, the version on npm has now been bumped to `v0.15.0` https://github.com/bencevans/node-sonos/commit/afadd1ae80ae22274a4cd33579ccc9dc109bb6ee

Thanks for raising this, if you have any suggestions as to how best to make this obvious to future users please do share.

[2017-06-04 17:47] bencevans commented on #173
@FlavioKt this is a library rather then any sort of application. You can install the module in your own project using `npm install --save sonos` then require it at the top of your own application with `var sonos = require('sonos')` and call methods described in the README/API.md files.

[2017-06-12 21:28] gupsho opened #175 "Sonos library doesnt return an error when a non-premium spotify account is used to play a track"
The library returns success when a non premium spotify account is used to play a song even though the actual playback fails.  I am using the play api, passing in the spotify track url.

[2017-06-12 22:09] gupsho commented on #175
I do see an event emitted which says account is unsupported.
{"LastChange":"<Event xmlns=\"urn:schemas-upnp-org:metadata-1-0/AVT/\" xmlns:r=\"urn:schemas-rinconnetworks-com:metadata-1-0/\"><InstanceID val=\"0\"><TransportStatus val=\"**ERROR_SONOS_UNSUPP_ACCOUNT**\"/><TransportErrorDescription val=\"55,3079,Ho Hey,Spotify,x-sonos-spotify:spotify%3atrack%3a0W4Kpfp1w2xkY3PrV714B7?sid=12&amp;flags=82

[2017-06-13 21:29] FlavioKt commented on #173
Thank you very much for the answer

Flavio

Il 04/06/2017 19:47, вєη єναηѕ ha scritto:

[2017-08-08 20:50] CTKRocks opened #176 "Spotify Error 500 - AVTransport:1#Seek"
Here's the code:
[code]

I get: `[Error: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Seek"]`

[2017-08-08 21:38] gupsho commented on #176
If the sonos does not have any active queue at this time or if its the first time you trying to play after sonos boots up, you need to selectQueue before playing.

Get device state by calling getCurrentState
`device.getCurrentState((err, playerState) => {
});`

then do this.

`if (!playerState || playerState === 'stopped') {
    sonos.selectQueue((err, result) => {
        if (!err) {

[2017-08-08 21:39] gupsho opened #177 "Get favorites from sonos"
Is it possible to get a list of favorites from sonos?

[2017-08-08 21:53] bencevans commented on #175
An error could be passed back to the callback with an error explaining the issue.

[2017-08-08 22:18] bencevans commented on #177
Appears to have been implemented for radio but that is all. PR welcome :smile_cat:

https://github.com/bencevans/node-sonos/blob/230a6b8b55f6c2ca1f650c8a1db48a986df669c5/lib/sonos.js#L951-L1019

[2017-08-09 05:56] gupsho commented on #175
But the callback is sent as soon as the call to play(which just adds the song to queue) succeeds. I think the failure happens when sonos try to actually play it.

[2017-08-09 14:02] CTKRocks commented on #176
Thanks! I'll try this later.

[2017-08-09 21:47] CTKRocks commented on #176
Got it working! Thanks!

[2017-08-09 21:47] #176 closed

[2017-08-12 19:10] NicolaNauwynck opened #179 "Play Spotify while TuneIn is active does not work"
Hello,

I have been trying out the library and noticed the following:
1. Play a TuneIn radio station
2. Wait for the radio to start on Sonos
3. Try to play a Spotify playlist

The third step does not work if a TuneIn radio is active, stopping the TuneIn radio does not help. I have to open the Sonos app and manually select a track from Spotify so the TuneIn radio is no longer the active item.

The

[2017-08-13 17:49] NicolaNauwynck commented on #179
Found the solution. Had to use selectQueue before switching from TuneIn to Spotify playlist.

`
        s.selectQueue(function(err) {
            if (!err) {
                d.resolve();
            } else {
                throw new Error(err);
            }
        });
`

[2017-08-13 17:49] #179 closed

[2017-09-01 09:57] msunjic98 opened #180 "Previous/Next song at the start/end of queue"
Apparently, when you try to trigger device.previous() or device.next() when at the first or last song of the queue, the library crashes.

`Error: HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Next"
    at Request._callback (/home/unm4sk/Desktop/homeserver-dev/node_modules/sonos/lib/sonos.js:153:23)
    at Request.self.callback (/home/unm4sk/Desktop/homeserver-dev/node_modu

[2017-09-07 10:12] edwinlimlx opened #182 "Cannot parse DIDTL result"
Facing the error message with searchMusicLibrary and getMusicLibrary endpoints.
No problem with method such as volume, play and pause.

[code]

[2017-09-09 21:32] #177 closed

[2017-09-09 21:42] bencevans commented on #180
It would be interesting to see what's actually in the response. Maybe there's an error identifier we can use to throw a more useful error.

[2017-09-11 00:12] bencevans commented on #175
How did you gather the error you shared above? You mention you see an event emitted. Is this to a Sonos Controller, seen through Wireshark or a response to a request made by node-sonos?

[2017-09-11 00:15] bencevans commented on #147
Closing this as I don't think any of the core contributors would build this. However a pull-request would be welcome from anyone with the specific interest to implement it.

[2017-09-11 00:15] #147 closed

[2017-09-11 00:20] bencevans commented on #160
@toddanglin and @ebaauw bossing it 🎉

I'm closing this issue as the service classes mentioned are for advanced users to play with but there's no support for them. They were something I generated a long time ago when thinking of changing the architecture but haven't really been utilised by the library itself. They're in use by some but for easy functionality you'll want to use the documented API ca

[2017-09-11 00:22] bencevans commented on #160
Actually, let's update this issue to be for the AlarmClock control functionality in the main API...

[2017-09-12 11:23] msunjic98 commented on #180
Didn't get anything else other than this, workaround would be to check the queue position and block it if it's first/last song, but I guess we could do something initially in the library. Will look into it.

[2017-09-14 07:13] gupsho commented on #175
I had an eventListener for 'serviceEvent' emitted from the code. Thats where I saw the message.

[2017-09-15 18:30] gupsho opened #183 "Unset playmode"
How do I unset a playMode once set?

So if I call
setPlayMode('repeat', callback);
setPlayMode('shuffle', callback);

now how do I unset shuffle if I want to?

[2017-09-15 18:35] bencevans commented on #183
Give `.setPlayMode('normal', cb)` a whirl.

Options appear to be:

* `'normal'`
* `'repeat_all'`
* `'shuffle'`
* `'shuffle_norepeat'`

Underlying code:

https://github.com/bencevans/node-sonos/blob/e069868b40fa8274da8069f38b9752ba36c115df/lib/sonos.js#L889-L904

[2017-09-15 18:38] gupsho commented on #183
But normal will remove both shuffle and repeat? Does setting a playMode replace previous playMode?
So if I say repeat after shuffle does repeat automatically go away? Also is there a way to getPlayMode?

[2017-09-15 19:04] bencevans commented on #183
That would make the most sense to me. Fancy testing #184 out? :smile_cat:

[2017-09-15 21:47] gupsho commented on #183
Will do. Thanks for the quick update.

[2017-09-16 14:12] #183 closed

[2017-09-20 21:29] gupsho opened #185 "Some URIs not encoded correctly before sending to sonos for playback"
Eg URI:
x-sonos-spotify:spotify%3atrack%3a01Bz4Mijhe7m7qRvq2Ujpn?sid=12&flags=8224&sn=2

This is one of the uri returned by sonos for favorites. This cannot be played correctly on sonos because the library does not encode the uri correctly.

[2017-09-20 21:30] gupsho commented on #185
This can be fixed by using htmlEntities(options.uri) in queue method.

[2017-10-06 14:48] htilly opened #186 "Support for adding Spotify playlists ?"
Hi!

Is there any way to add Spotify playlists ?
sonos.addSpotify(spid, function (err, res) works great for adding tracks..  but how to add playlists to the queue?

BR
Tilly

[2017-10-09 02:50] matthax opened #187 "Cannot Play Spotify Track"
I receive the following error when attempting to play directly using a spotify uri:

`HTTP response code 500 for "urn:schemas-upnp-org:service:AVTransport:1#Seek"`

Here is the code that can be used to reproduce the issue:
[code]

I think this may be related to #142 but I am not in the EU.

[2017-10-09 03:04] matthax commented on #187
Solved by using another Spotify track url. Not sure why this happens (I'm using responses limited to my market) but I'm going to close the issue since there's really not a lot to go on here.

[2017-10-09 03:04] #187 closed

[2017-10-12 22:49] gupsho commented on #186
I think using play with a playlist uri would achieve the desired behavior. So instead of using addSpotify, use play for playlist.

[2017-10-14 19:46] #185 closed

[2017-10-14 19:54] bencevans commented on #186
If someone puts this to the test please report back :smiley_cat:

[2017-11-27 01:44] pascal-fb-martin commented on #141
I had the same problem. I just found a work-around: extract the TuneIn station ID from the URI (:s<id>?) and call sonos.playTuneinRadio(id,'whatever').

Note that I do not use the title from the favorite. This is because node-sonos does not handle properly HTTP special characters, such as '&' (as in "R&B").

[2017-11-27 01:54] pascal-fb-martin opened #190 "playTuneinRadio does not handle special http characters in the station title"
I query the list of favorite stations (getFavoriteRadioStations) and use the result to select one station to play using playRadioStation. The station title comes from the data returned by getFavoriteRadioStations.

The station does not play (HTTP error 500) if the title contains a character '&' (as in "R&B"). If I replace the character '&' with something else (like a space), it works. If I replace

[2017-11-27 05:46] bencevans commented on #190
I imagine it's to do with the [`htmlEntities`](https://github.com/bencevans/node-sonos/blob/8b64efa141970480673b2cd0e76d6551bc179b48/lib/sonos.js#L59-L66) [call](https://github.com/bencevans/node-sonos/blob/8b64efa141970480673b2cd0e76d6551bc179b48/lib/sonos.js#L665). A pull-request would be much appreciated if a solution found.

[2017-12-04 14:08] MexXxo commented on #186
I tried with sonos@0.18.0 and I could not get my sonos play out any spotify uri (tried playlist, album, artist) using the play function.
I'm using Spotify Europe and also the playSpotifyRadio did'nt worked for me.
Can someone confirm that spotify EU is working with node-sonos?

[2017-12-04 16:56] bencevans commented on #186
@MexXxo did you try using the `.addSpotify()` function?

[2017-12-06 06:20] papertigers opened #192 "change topology"
Is it currently possible to change the topology? As in add/remove a device to/from a group.

[2017-12-06 06:28] papertigers commented on #192
Looks like #129 is what I’m looking for. Sorry about that.

[2017-12-10 11:21] MexXxo commented on #129
do we have a feature branch for that?

[2017-12-20 14:30] magnlund opened #193 "Switch from TuneIn Radio to Spotify generates http 500...1#seek error"
Thanks for a great API. I use it in my home automation system;)
When I try to switch from TuneIn Radio to Spotify using the Play method I recieve the error:
**HTTP response code 500 for urn:schemas-upnp-org:service:AVTransport:1#Seek**

To go from Spotify to TuneIn Radio works fine but not the other way. What am I doing wrong?

[2017-12-27 15:33] svrooij opened #194 "Easier listerner in core library"
There is a [Listener](https://github.com/bencevans/node-sonos/blob/master/lib/events/listener.js) in this library but it is hard to use. I would like to implement the following

- [ ] A '.startListening()' on every sonos device, that would create a listener and subscribe to the most important events
- [ ] A '.stopListening()' on every sonos device that would unsubscribe for those event
- [ ] Event

[2017-12-27 16:34] magnlund commented on #193
I solved it by ading the sonos.selectQueue (function(err, data) {};

[2017-12-27 16:34] #193 closed

[2017-12-29 20:53] #194 closed

[2017-12-29 21:52] #192 closed

[2017-12-31 15:44] bencevans commented on #45
![](https://rawgit.com/bencevans/dfa1b30d0ed676aa395017b0d869b82a/raw/39474d04ae0e1c61000ccdf296cdd472e9362dcf/logo.svg)

[2017-12-31 15:44] #45 closed

[2018-01-01 19:29] svrooij opened #198 "Simplify methods and implement Spotify everywhere"
Node-Sonos got a nice way to convert a Spotify to a playable uri with metadata [here](https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L443) but this isn’t used everywhere.

Want to implement this for:

- [x] play
- [x] queue
- [x] queueNext

That way all the Spotify named functions can eventually be removed (or made to be just shortcuts to the default functions)

[2018-01-02 13:57] bencevans commented on #129
no but a pull request would be very welcome

[2018-01-02 15:01] svrooij commented on #190
@pascal-fb-martin is the title even used? Seen this in the Spotify api as well, but I don't get it to show up in the official sonos application.

So maybe it's better to just not set the title and just set it to `RadioStation`.

[2018-01-02 16:41] svrooij commented on #175
With wireshark I discovered a new endpoint that will display the spotify account status, that could be used to verify a premium account before playback.

The endpoint is `http://192.x.x.x:1400/spotifyzc?action=getInfo` and in my case (premium account) it returns the following.

[code]

@gupsho could you output your info (without premium), maybe we could build something like:

[code]

[2018-01-03 05:07] pascal-fb-martin commented on #190
In fact I first tested with a similar constant string. Then I decided to use a "sanitized" variant of the station name, just in case the Sonos app uses that string in its user interface (why would they have such a parameter otherwise?). Ideally, I would not need to set that name and just let Sonos uses its own name, if that is possible.

So I would be fine with making the parameter optional in the

[2018-01-03 10:58] #118 closed

[2018-01-03 10:58] #186 closed

[2018-01-03 10:58] #198 closed

[2018-01-03 11:09] svrooij commented on #190
I never found where they show it. Maybe it is used before the metadata of the station is fetched from the server. Anyway as of #200 you can also start radio by doing the following (and that doesn't need a Station name, set to `TuneIn Radio`)

[code]

I'm closing this issue for now feel free to open it again if this doesn't solve your problem.

[2018-01-03 11:09] #190 closed

[2018-01-03 11:36] svrooij commented on #180
You can only next with replay mode turned on when you're on the last song of the list.

Just checked the example and it doesn't crash (on my computer), it just response with the same in both ways.

Not in replay mode, when on last song (nothing happend):
[code]

In replay mode (went to next song):
[code]

[2018-01-03 12:22] svrooij commented on #148
The latest version (on git currently) has direct access to the `SetAVTransportURI` through `sonos.playWithoutQueue(uri)` so that can be used to switch to TV/line-in mode as shown [in this sample](https://github.com/svrooij/node-sonos/blob/master/examples/switchToLineIn.js).

I think getting out of the TV mode, requires you to select the queue with `sonos.selectQueue` or by starting a TuneIn/Spotif

[2018-01-03 12:25] svrooij commented on #155
See my comment [here](https://github.com/bencevans/node-sonos/issues/148#issuecomment-354999615) about line-in mode. There now is a sample [here](https://github.com/svrooij/node-sonos/blob/master/examples/switchToLineIn.js) and I just checked this and it works!

Closing this issue for now, please re-open it if this doesn't help you.

[2018-01-03 12:25] #155 closed

[2018-01-03 12:40] svrooij commented on #141
The `x-sonosapi-stream:s....` requires metadata this is way this doesn't really work. You can use the `sonos.playTuneinRadio(id, 'whatever', callback)` or use `sonos.playWithoutQueue('radio:id', callback)`
You can also check-out the [PlayTuneIn sample](https://github.com/bencevans/node-sonos/blob/master/examples/playTuneinRadio.js)

Closing this for now, you can reopen this issue if needed.

[2018-01-03 12:40] #141 closed

[2018-01-03 14:23] #148 closed

[2018-01-03 14:37] svrooij commented on #129
The main library got the `becomeCoordinatorOfStandaloneGroup` implemented [here](https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L579)

@ebaauw how did you get the `coordinator.uuid` because I think it could be used with the `sonos.playWithoutQueue` function.

[2018-01-03 15:20] ebaauw commented on #129
That's what I use to leave a group.

I keep a cache of the state of all my Zone Players, maintained through push notifications/events from the players.  The `GroupManagement` event contains `LocalGroupUUID` and `GroupCoordinatorIsLocal`, which is 1 for the coordinator and 0 for other members.  I simply loop through all the cached Zone Players, looking for a player with the matching `LocalGroupUUID

[2018-01-04 15:22] svrooij commented on #160
Check out my initial work on this https://github.com/svrooij/node-sonos/tree/alarm
You can now do the following
[code]

And that returns the following:
[code]

[2018-01-04 17:41] #129 closed

[2018-01-05 13:51] svrooij commented on #66
There will be a parseXml in the sonos class soon, that way the code to read the xml would be minimal.
Parsing all the properties is not easy, but once it is implemented you could maybe give it a go with a pull-request

[2018-01-05 13:57] svrooij commented on #175
If the above would be possible would that fix your issues?
Like

[code]

Because that is an easy fix, which I will implement soon. If that doesn’t fix your issue could you please re-open it?

[2018-01-05 14:01] svrooij commented on #182
@edwinlimlx do you also have a problem with this library without using `Promise`?
Could you create a test script for us to investigate the issue. Please state what is expected and what the current result is.

[2018-01-05 14:06] svrooij commented on #180
@msunjic98 could you check if the library still crashes? Or could you supply us with test code that actually crashes?

Closing this issue for now, because it doesn’t crash at my computer and we need some more info to check this out. Feel free to re-open this issue if you still think it is crashing

[2018-01-05 14:06] #180 closed

[2018-01-05 14:16] svrooij commented on #136
@nickdandakis and @albinekb could it be a network problem?

The device discovery works with upnp that uses multicast. With a combination of wired and wireless some better routers decide to not let through multicast on wireless networks. Are all the sonos speakers connected through a wired network?

My hunch is that it doesn’t necessarily got something to do with this library.

Why not create a sin

[2018-01-05 14:16] #136 closed

[2018-01-05 14:24] svrooij commented on #121
@fwboettger could you provide us with a little bit more information.

Are you still working on a pull-request or did the issue resolve itself by us updating the dependencies of node-sonos.
The current version got an easier way to listen to events from sonos, maybe you can check it out.

[2018-01-05 14:35] svrooij commented on #54
@stephen what would you still like to change for us to go forward in calling node-sonos version 1.0.0

At the moment I implemented leave/join group commands. That way you can just join one device to the group and it will figure out itself which player it should join.

Since the last activity was almost 3 years ago, I’ll be closing this issue. Feel free to open it again if still think we should imp

[2018-01-05 14:35] #54 closed

[2018-01-05 14:40] svrooij commented on #106
@lazerdye could you verify the above is still valid? That Sirius is still providing the title and artist in StreamContent?

If that is the case, could you re-open this issue and we’ll try to work it out.

[2018-01-05 14:42] #121 closed

[2018-01-05 14:51] svrooij commented on #82
@philipbulley I always just use wireshark set to capture everything to `port 1400` and then use the regular app to do the thing I want to create in node-sonos.

Are you up for the challenge? We are happy to check-out your pull-request

[2018-01-06 22:18] #160 closed

[2018-01-07 02:49] gupsho commented on #175
I am getting a 403 for my sonos for that url. Also I think the response that you are getting might just be saying that accountRequired is premium and not that premium account is actually connected.

[2018-01-07 08:04] svrooij commented on #175
If you're getting a 403 with that URL that just might be the trick. Because I have a Spotify account connected, so going to use this URL for now and create a function for you to check if there is a premium account.

[2018-01-08 13:35] albinekb commented on #136
Could be @svrooij, I do not longer have access to the troublesome equipment so can't test, but thats a good theory that I'll test if it ever happens again 👍

[2018-01-08 13:38] svrooij commented on #136
If you've put this to the test and still have an issue, you can always re-open this issue.

[2018-01-08 21:06] ebaauw opened #205 "Enhance listener functionality"
Allow subscribing to any service.

For my homebridge-zp plugin, I'm currently subscribing to events from `GroupManagement`, `MediaRenderer/AVTransport`, `MediaRenderer/GroupRenderingControl`, `MediaRenderer/RenderingControl` and `AlarmClock` services.  `ZoneGroupTopology` events are on my backlog, but with the current design of homebridge-zp cannot dynamically add or remove HomeKit accessories, so

[2018-01-08 21:35] ebaauw opened #206 "Request: use promises instead of callbacks"
I have two wonderful "Pyramids of doom" in my homebridge-zp code, nesting up to five levels of node-sonos callbacks.  I refactored my homebridge-hue plugin to use promises instead of callbacks and I'm quite happy with that setup.  I'm using [`deferred`](https://github.com/medikoo/deferred), to provide the promises, mostly because that provides throttling.

When homebridge-zp is up for it's next ov

[2018-01-08 21:47] ebaauw opened #207 "JSHint chokes on node-sonos"
I'm using Atom with the linter-jshint package for my javascript development.

When opening sonos.js from node-sonos, JSHint gives up after 11% because of too many errors.  By the look of it, they're mostly warnings about missing semicolons.

[2018-01-08 22:00] svrooij commented on #207
Ben chose [StandardJS](https://standardjs.com/) for linting (and mostly automatic fixing). They decided that we shouldn’t put `;` in JavaScript files since they are not needed by the interpreter.

It is just someone liking, I use StandardJS in all my node projects. And if you want you can even install it in Atom instead of JS hint [linter-js-standard](https://atom.io/packages/linter-js-standard)

[2018-01-08 22:00] #207 closed, assigned to nobody

[2018-01-08 22:06] svrooij commented on #206
This sounds like a very good idea. Would you care to give it a go? That could your ~~first~~ second contribution to node-sonos.

[2018-01-08 22:49] ebaauw commented on #207
Cool!  Something new to learn ;-)  Automatic code fixer sounds like something I'd want.

Related, albeit remotely: any tips on setting up automated testing?

[2018-01-09 09:38] svrooij commented on #207
This project got some tests defined in [sonos.test.js](https://github.com/bencevans/node-sonos/blob/master/test/sonos.test.js) and they are automatically checked by [travis-CI](https://travis-ci.org] for every commit or pull-request.

You can also run the tests by typing `npm run test` in the root of the project.
Only linting the javascript can be done by running `standard` in the root or `standar

[2018-01-10 04:37] iansu commented on #206
This is something I'm interested in also. I'd be happy to submit a PR. Is the idea to add promise based versions of each method (something like `getQueueAsync`) while still preserving the existing callback based methods?

[2018-01-10 06:49] ebaauw commented on #206
Obviously, preserving the existing API would be a precondition.  I’m not too thrilled with providing two versions of each method, though.  I was thinking to change the existing methods to return a promise when `callback` is null, and call the callback when it isn’t.

I’ll try and do a proof of concept this weekend, with just `play()` and `pause()`.

[2018-01-10 06:56] svrooij commented on #206
@ebaauw I'm not sure about that, wouldn't that make it over complicated?

And first things first, almost every request uses *_request* and the XML parser so I think we should start with does.

Maybe we can create the asynchronous versions with the new name *playAsync* and have the *play* version have that execute and then call the callback? (Just an idea, I'm totally open for suggestions)

[2018-01-10 07:08] ebaauw commented on #206
I’m still at the idea phase myself.  I agree for a real implementation starting with those makes sense.  If the code becomes too complicated, offering a callback and a async version would be preferable, of course.

[2018-01-10 19:15] svrooij commented on #205
Some guy made some nice changes to the event system [here](https://github.com/thkl/node-sonos/tree/master/lib/events).
So that could maybe also be implemented in this repo.

[2018-01-10 20:01] bencevans commented on #206
I'd be happy to move across to just providing a Promise based API. Using `async`/`await` :sparkles: can really clean stuff up and avoid the dark depths of callback hell.

[2018-01-10 20:18] iansu commented on #206
I was thinking it would be nice to add support for async/await as part of this change as well. It's definitely a lot easier if you're willing to drop the old callback based API. You could keep the `0.x` branch around for legacy apps and do this as part of a `1.0` release. I'm happy to help with this however I can.

[2018-01-10 20:46] svrooij commented on #206
I agree with @bencevans and @iansu, why don't we call the current version the last 0.x and rewrite everything to promises for the new 1.x

The async version of request can be found [here](https://github.com/request/request-promise-native).

And I already started with a [Helpers](https://github.com/svrooij/node-sonos/blob/helpers/lib/helpers.js) class that already got a async version of ParseXml.

[2018-01-12 16:30] ebaauw opened #211 "Unexpected behaviour of AlarmClock.ListAlarms()"
The return value of `AlarmClock.ListAlarms()` seems wrong to me.  Not sure if this is a bug or if I'm being too naive.  I would expect the response always to contain a, possibly empty, array value for `CurrentAlarmList`.  Instead, `CurrentAlarmList` is:
1. Missing from the response altogether, when there's no alarms defined on Sonos;
2. A single alarm object, when there's one alarm defined on Sono

[2018-01-12 16:59] ebaauw commented on #211
Doing some more digging.

Sonos defines `ListAlarms` to return `CurrentAlarmList` as a string:
[code]

Indeed, in `AlarmClock.prototype.ListAlarms()`, `_this.request()` returns a string for `CurrentAlarmList`:
1. No alarms:
[code]
2. One alarm:
[code]
3. Multiple alarms:
[code]
I'd say this a bug in `Service._parseKey()`, or at least a wrong use of `Service._parseKey()`.  The fix would be simple e

[2018-01-13 18:48] svrooij commented on #211
The library used for xml parsing **xml2js** returns a bit of rubbish by default. That is why I added some optional options to it on [this line](https://github.com/bencevans/node-sonos/blob/master/lib/services/Service.js#L106).

I do agree that when there is only one alarm it should better return an array with that one alarm. But when no alarms are found why it omitting it not the correct behavior?

[2018-01-13 20:01] svrooij commented on #206
I'm started a half an hour ago on converting it to async. First a big part of clean-up. Will publish the branch here this evening.

[2018-01-13 21:30] ebaauw commented on #211
Typical case of garbage in, garbage out.  I really prefer JSON over XML - fewer headaches.

Because that would require an additional test to see whether the key is present.  Normally you would do a `for` or `forEach` loop on the key's value.  When this is an empty array, the loop's body simply never gets executed.

[2018-01-13 21:50] svrooij commented on #206
Hello guys,

Check out my new branch, started changing a few (important) methods to async. What do you guys think??

https://github.com/svrooij/node-sonos

Hoping to get some help!

[2018-01-14 07:56] svrooij commented on #182
Closing this issue for now, you can re-open if you have more info.

[2018-01-14 07:56] #182 closed

[2018-01-14 13:29] #211 closed

[2018-01-15 19:21] iansu commented on #206
I'm definitely interested in helping. What's the best way to coordinate this?

[2018-01-15 19:28] svrooij commented on #206
@iansu take a look at my [fork](https://github.com/svrooij/node-sonos) it is almost done. Except the listener, but i'm working on that right now.
Could use the help with the following:

- [ ] All examples need updates
- [ ] Testing my implementation
- [ ] Figuring out a way to still successfully execute the tests. (Because of the promises you can no longer override the request with the expected re

[2018-01-15 23:28] bencevans commented on #206
@svrooij might it be worth moving your branch into this repository if others are collaborating so if there's any comments/pull-requests into the 1.x branch then GitHub search etc. would pick them up here for later knowledge hunts.

[2018-01-16 16:35] svrooij commented on #206
Guys I think the new version is ready, only 26 commits 😉 😄

Check it out https://github.com/bencevans/node-sonos/tree/sonos-async and let me know whant you think!! Still need help with the above points.

[2018-01-16 16:38] svrooij commented on #205
Have a look at my sample for listening for events https://github.com/bencevans/node-sonos/blob/sonos-async/examples/events.js

It will implement a new SINGLE listener for global events (still wip) but you should see how it works in the [new listener](https://github.com/bencevans/node-sonos/blob/sonos-async/lib/events/adv-listener.js)

[2018-01-16 19:22] svrooij opened #217 "Easy task: Converting four tests to async"
At the moment most tests are converted to async with `nock`, but some are still commented out. And we would like those to be restored and converted to async.

———————

The current mocha test work by replacing the `request` function on a `Sonos` instance. This will no longer work when everything is converted to `Promises`.

Anyone got an idea on how to still run tests on the async library? Was thin

[2018-01-16 19:28] bencevans commented on #217
[nock](https://github.com/node-nock/nock) creates an interceptor on `http.request` to stub requests/mock responses without actually hitting the network. Expected responses can then be kept with each test for easy referencing when fixing issues

[2018-01-16 19:39] svrooij commented on #66
Recursive parsing xml is hard, because not all properties are xml, but in the async version we got an asynchronous `Helpers.ParseXml` [here](https://github.com/bencevans/node-sonos/blob/5ec624d7d63a9ec164fd2634ca0e9e20b49365b3/lib/helpers.js#L182) That can be used for parsing returned xml.

Hoping that this will solve your problem with xml returned by the sonos api.

[2018-01-16 19:39] #66 closed

[2018-01-16 19:42] svrooij opened #218 "Call for testers"
I’ve done a lot of work on converting everything to async in a new [sonos-async branch](https://github.com/bencevans/node-sonos/tree/sonos-async) now is the time for everyone to start testing this new version.

Please check it out and let us know what you think!

[2018-01-16 19:45] svrooij commented on #217
Could you create a sample on the async branch? Then maybe other people can help out moving the tests to the async version.

[2018-01-16 19:51] svrooij opened #219 "Easy task (almost done): Converting last two samples to async"
All the samples in the [examples directory](https://github.com/bencevans/node-sonos/tree/sonos-async/examples) need to be converted to their new async version.

This is just a lot of work, but shouldn’t be very hard [play.js converted](https://github.com/bencevans/node-sonos/commit/611fba5b6e2a0102c01171b45e9641082335b2d6#diff-7460b59111cc72f9eb47bacb0d78486f)

If you done a few please send a pull

[2018-01-16 20:04] svrooij opened #220 "Readme needs async info"
The readme needs to be restructured supporting the new async methods and linking to the new generated documentation.

- [x] Some sample code in readme
- [x] Links to generated documentation
- [ ] Adding contributing file
- [x] Instructions on how to publish a [user-scoped](https://docs.npmjs.com/getting-started/scoped-packages) package.

Currently there are a few `sonos` packages on npm. If someon

[2018-01-16 21:23] svrooij opened #221 "Play uri (notification) and restore state"
With all the async stuff done, the following would finally be possible.
One function to play a single uri (mp3 file, TTS file) and afterwards restore the original state.

1. Fetch current state
2. Fetch the current playing uri (queue or TuneIn radio)
3. Play the uri
4. Subscribe to `State` event
5. When the state changes to ???, restore the previous stored values.

This function could then be used

[2018-01-16 21:39] svrooij opened #222 "Remove unused dependencies"
The latest version of node got support for buffers and most `underscore` features. They can (and should) be removed (with some refactoring).

- [x] Remove `upnp-client` from package.json
- [x] Remove `safe-buffer` from package.json
- [x] Refactor `underscore` code in sonos.js
- [x] Remove `underscore` from package.json

Be sure to start from the **sonos-async** branch 👍

[2018-01-16 23:06] ebaauw commented on #221
5. When status is stopped (after playing a DINGDONG or text-to-speech track) or when there's no longer a signal on the (optical) input (when playing TV or Line-In).

Would even be cooler to subscribe first and catch the autoswitch to TV or Line-In, so we'd finally have an autoswitch back.

So many brilliant ideas - so little time...

[2018-01-17 22:56] svrooij commented on #175
With the new version (in the sonos-async branch) you can request the spotify info (as above). And you can subscribe to the `AVTransport` event on the sonos speaker if you want the above error.

Their can't be an error on the `Play()` command, because it will return when a succesfull call the play this uri endpoint is called.

If you think this doesn't fix your problem please re-open it.

[2018-01-17 22:56] #175 closed

[2018-01-18 09:59] svrooij commented on #218
If you want to use the new version of node-sonos in your project you can refer to it in your `package.json` like:
[code]

Let us know, what you think.

[2018-01-18 14:57] svrooij commented on #219
I converted most samples, but need someone to test them out.
Only the following need extra updates:

- nowplayingwebsite
- collectinfo

[2018-01-18 21:26] #222 closed

[2018-01-19 17:12] olivierjc commented on #82
Hi!
This is uPnP standard , something like that:

[2018-01-19 19:59] svrooij commented on #217
In [this commit](https://github.com/bencevans/node-sonos/commit/dbf8a95e009f419936fd88c48a63871929f8679f) I fixed a few test cases. The rest is commented. Could someone else fix the rest and send a pull request.

[2018-01-20 15:35] svrooij commented on #205
@ebaauw what do you think about my work on the listener part? Can this issue be closed?

[2018-01-21 23:06] olivierjc opened #224 "Problem with some events..."
Hi!
Some events are not sent. Especially, event 'AVTransport' (line 82 of eventParser.js).

[2018-01-22 10:53] bencevans commented on #224
@olivierjc  please could you add the version you're using + maybe test the new version coming in soon.... https://github.com/bencevans/node-sonos/issues/206#issuecomment-358022097

[2018-01-22 11:27] svrooij commented on #224
And also note that the current version in NPM doesn't have this event yet.
Check [here](https://github.com/bencevans/node-sonos/issues/218#issuecomment-358596840) if you want to use the async version right from your own library.

Otherwise could you try the following command, after checking out the latest version from the sonos-async branch.
[code]

[2018-01-23 08:41] olivierjc commented on #224
I'm using sonos-async branch. Will test that this evening, thks.
There is also a pb on getQueue function, IP and Port in albumArtURI is undefined.

[2018-01-23 17:29] svrooij commented on #224
The example returns the following here.
[code]

Closing this issue for now, if you found that you still got this issue can you reopen this issue?

Ps. The `getQueue` now also returns the correct IP and port, fixed in [this commit](https://github.com/bencevans/node-sonos/commit/cb524619aff5b0306e6491900ed2f93abb9b8559)

[2018-01-23 17:29] #224 closed

[2018-01-23 22:59] #220 closed

[2018-01-23 23:22] svrooij commented on #221
💥 👍 😄 🎉

(Sorry I'm just really happy this is finally implemented!!!)

@ebaauw this might need some tweaking, but from my initial testing this is a solid solution. Could you also test it?

[2018-01-27 19:05] svrooij commented on #221
I will be closing this issue right now, as it seems this function does what it is expected to do.
Now available from git install, and in NPM once we release the 1.0.0 version.

[2018-01-27 19:05] #221 closed

[2018-01-27 19:09] svrooij commented on #206
Closing this issue because we split it to several others, and we have a soon to be released async version in git and very soon in NPM

[2018-01-27 19:09] #206 closed

[2018-01-27 19:14] svrooij commented on #205
In the current version in the sonos-async branch I created a new listener that is shared between all instances. This made it much easier to develop listener functionality. While there is still some room for improvements, I think we can close this issue for now.

If you find to have some issues with the new listener, please open a new issue.

[2018-01-27 19:14] #205 closed

[2018-01-27 20:43] iansu commented on #217
I'm working on this now. I should have a PR to submit soon.

[2018-01-28 20:53] svrooij commented on #218
Hello users of this library, could you please let us know what you think of the async version. Is it stable enough for a release?

- [ ] @ebaauw
- [ ] @iansu
- [ ] @bencevans
- [ ] @vinkla
- [ ] @gupsho
- [ ] @sammygriffiths
- [ ] @htilly

[2018-01-28 21:35] vinkla commented on #218
Hey, thanks for making it async! I've just tried the new version briefly and it works.

Also, great work on the updated documentation!

[2018-01-29 00:29] bencevans commented on #218
'async' is a bit confusing given it's always been asynchronous. In future esp. with changelogs etc. I propose we call it promises. I'm unable to actually test functionality as I don't have access to Sonos devices for another month or so but if others can test and give the thumbs up I'd love to see this get pushed through as 1.x 😺

[2018-01-29 07:10] svrooij commented on #217
Thanks @iansu

[2018-01-29 07:10] #217 closed

[2018-01-29 21:13] olivierjc commented on #82
To be more specific, this code should work (add it in sonos.js) :

`Sonos.prototype.reorderQueue = async function (startIndex, numberOfTracks, insertBefore) {
  debug('Sonos.reorderQueue()')
  return new Promise((resolve, reject) => {
    const action = '"urn:schemas-upnp-org:service:AVTransport:1#ReorderTracksInQueue"'
    const body = '<u:ReorderTracksInQueue xmlns:u="urn:schemas-upnp-org:servic

[2018-01-30 10:16] svrooij commented on #82
Thanks for the hint @olivierjc I loaded the service definition and also found some nice extra options.

Can anyone test the new function out? it is in the 'sonos-async' branch.

[2018-01-30 12:07] olivierjc opened #228 "About searchMusicLibrary"
There is a problem with the searchMusicLibrary function. Using a colon to separate the type (i.e. A: ALBUM) and the string does not work if you just want to browse the Content Directory. A slash must be used, like that => **A:ALBUM/exact title of your album**.
Also, the string must be encoded with encodeURIComponent (), especially to handle the colons often present in album titles.
The problem, in

[2018-01-30 16:17] svrooij commented on #219
I fixed the last sample and deleted collectinfo, as it would take me a lot of time to recreate.

Closing this and moving to the release of the 1.x version

[2018-01-30 16:17] #219 closed

[2018-01-30 19:54] svrooij commented on #228
This sound like a good idea, but I don’t really know what you mean. Maybe you can give it a go with a pull-request?

Currently getting everything ready to release v1.0.0, so if you finish your pull-request we will check it out after releasing the new 1.0.0 version. Be sure to use the `sonos-async` branch as your starting point (for now).

[2018-01-30 23:02] olivierjc commented on #228
I'm on it, but I have a problem as I don't have any Win computer, so I can't sniff the Sonos Controller...
Browse with this ObjectID = 'A:ARTIST:Halliday' works fine. But 'A:ARTIST:Johnny Halliday' don't work. Same with 'A:ARTIST:Johnny+Halliday' or 'A:ARTIST:Johnny%20Halliday'.
Can you sniff the controller with such a search ? A can't figure which encoding is needed ??

[2018-01-31 19:26] #218 closed

[2018-02-01 20:01] olivierjc opened #231 "Issue with searchMusicLibrary() when using custom startIndex"
When using the searchMusicLibrary () function, the startIndex value is ignored and the returned results are always the same.

## Expected Behavior

When the searchMusicLibrary () function is called with a startIndex value other than 0, the result must not be the same as when it is called with a startIndex value of 0 or when no custom value is used.

## Current Behavior

As it stands, however, rega

[2018-02-02 13:34] olivierjc commented on #231
I think this is the solution :

**Current code :**  `Object.assign(opts, defaultOptions)`, where values in defaultOptions overrides user values in opts.

**Correct code :**  `Object.assign(defaultOptions, opts)`, where uer values in opts overrides defaults values in defaultOptions.

[2018-02-02 18:16] svrooij commented on #231
How come your issue isn't as nicely formatted as the template? This would qualify as a smallish issue.
And there is a problem with it anyway.

Instated creating tests against a real sonos device and once you enable this row it will crash mocha.
https://github.com/bencevans/node-sonos/blob/0803384549e098b1c999d33c099720dcf75bf083/test/sonos.test.js#L374

The search thingies will get my attention th

[2018-02-02 21:12] olivierjc commented on #231
Sorry for bad formatting. I fixed it.

[2018-02-03 15:10] svrooij commented on #228
You where right about the encoding, but you're wrong about it not working.

My mac controller just send `A:ALBUMARTIST:chris%20brown` and gets results. And when you search spotify from your Mac controller, it justs queries a spotify server.

I'll fix the encoding part but your pull-request #230 will be rejected.

[2018-02-04 10:37] #228 closed

[2018-02-04 10:37] #231 closed

[2018-02-06 11:52] olivierjc opened #233 "SMAPI Implementation"
This is not an issue, so I don't use the template =).

As I'm working on a Controller to manage my Sonos System with my Linux laptop, I want to be able to use SMAPI for music services instead of specifics API of each service. Don't seem too hard.

My problem is to get a list of accounts registered in the Sonos System.

SOAP action GetStringX with {VariableName: 'R_SvcAccounts'} is used by official

[2018-02-07 09:47] svrooij opened #234 "Player in group reports playing while group is paused"
If you ask a player that isn't the coordinator of the group what the playing state is, it will always tell you it is playing.

## Expected Behavior

I would expect all the players in a group to respond the same to the getcurrentstate function

## Current Behavior

- Player 1 (group coordinator)
- Player 2 (member)

- Player 1 `getCurrentState()` === `paused`
- Player 2 `getCurrentState()` === `pla

[2018-02-07 09:56] svrooij commented on #233
I don't even see traffic from the controller to my sonos. Thinking it talks directly to the spotify api.

You could check out the [services folder](https://github.com/bencevans/node-sonos/tree/master/lib/services). Each service got a `SCPDURL` if you put that after the url of you sonos `http://192.168.x.x:1400` you get the service documentation. Ben imported these like a long time ago, maybe they

[2018-02-07 10:24] olivierjc commented on #233
SMAPI is well documented on Sonos Lab, and so really easy to implement. So far, I can browse containers and start playing albums, playlists, streams, etc... The controller talk with music service with SMAPI, and use the AddURIToQueue SOAP action to add media to queue, with classic metadata. Then, the player do the stuff to get metadata from the music service. It works well =)

**BUT** my user name

[2018-02-07 10:38] svrooij commented on #233
Do you have any links to those docs?

And care to share some code on how you done this?

My controller does a request to [MediaService](https://github.com/bencevans/node-sonos/blob/master/lib/services/MusicServices.js#L28) `ListAvailableServices` maybe that could work.

[2018-02-07 11:17] olivierjc commented on #233
[The link to SMAPI documentation](https://musicpartners.sonos.com/?q=docs).

I will post some code when I'm home this evening.

The request to `ListAvaliableServices ` returns the whole list of avalaible music services, with many informations (id, name, API url, secure API url, authentication method...), but no information whether an account is registered in Sonos system.

[2018-02-08 07:59] olivierjc commented on #234
I don't think this is a bug.
When a player is grouped, its `AVTransportURI `is `x-rincon{UUID of coordinator}`.  And even if the coordinator is paused, players in its group still play this URI... Actually, a group is never paused: it's just the coordinator.

As far as I can sniff, this is the same for official controller.

[2018-02-08 11:16] olivierjc commented on #233
I will post my code later, as I'm facing some issues. I wrote it in my controller, using $http from AngularJS, so I try to use request-promise-native instead, but so far it didn't work (I got a blank result: not null or undefined, just blank...) I'm going to investigate a little more to give a code compatible with node-sonos.

[2018-02-23 17:02] Marty56 opened #237 "Question: What is the minimum node.js version required for node-sonos"
What is the minimum node.js version required for node-sonos

[2018-02-23 17:06] Marty56 commented on #237
it seems to be V8+ due to support async

[2018-02-23 17:06] #237 closed

[2018-02-24 09:38] svrooij commented on #237
If you need support for earlier node versions. You could check out the v0.x branch.
With this command you can find all the versions:
`npm show sonos@* version`

The versions in the 0.x range do support older versions of node.js

[2018-02-24 16:45] lmjohansen opened #238 "setPlayMode bug"
setPlayMode don't set playmode

## Expected Behavior
Set correct playmode

## Current Behavior
respond 500 error

## Possible Solution
See sample code

## Sample code or executed example
Sonos.prototype.setPlayMode = async function (playmode) {
  debug('Sonos.setPlayMode(%j)', playmode)
  var mode = { NORMAL: true, REPEAT_ALL: true, SHUFFLE: true, SHUFFLE_NOREPEAT: true }[playmode.toUpperCase()]

[2018-02-27 22:01] #238 closed

[2018-03-12 23:02] Nemesis353 opened #241 "joinGroup finds wrong device"
joinGroup only looks for for device name. i have a group of speakers (playbar, sub, 2x surrounds) in my group bedroom so it names all the devices bedroom. when i try to join office with bedroom it joins the wrong device.

joinGroup should join the device coordinator and not the first one it finds

sonos.js - Sonos.prototype.joinGroup - line 268

const zoneInfo = result.zones.find(z => z.name.toLow

[2018-03-18 16:50] magnlund opened #242 "selectTrack(trackNo) raises UPnP error 711"
After playing URI using the setAVTransportURI(uri) function UpnP err 711 is being raised. In earlier version I used the playWithoutQueue function.

Sonos should resume the selected selected song in the queue given by the queuePosition number

UpnP err 711 is being raised.

## Sample code or executed example
const       promise1 = sonos.selectQueue(),
                promise2 = sonos.selectTrack(qu

[2018-03-18 16:57] magnlund commented on #242
After playing URI using the setAVTransportURI(uri) function UpnP err 711 is being raised.
The code block where this happens looks like this:
 const      promise1 = sonos.selectQueue(),
                promise2 = sonos.selectTrack(queuePosition),
                promise3 = sonos.setVolume(volume),
                promise4 = sonos.play();

Where queuePosition is the the number retrieved from the fun

[2018-03-23 10:23] htilly opened #243 "TTS working ?"
Hi!

Trying to get TTS to work. Does it only support mp3 files?
Anyway to integrate in the same way as these guys are doing ?
https://github.com/jishi/node-sonos-http-api

Microsoft Cognitive Services (Bing Text to Speech API)
AWS Polly
Google (default)
macOS say command

BR
Tilly

[2018-03-24 06:06] #242 closed

[2018-03-24 10:21] zenturacp opened #244 "Unable to use events / listener dependency"
## Expected Behavior

I want to use the example from [/examples/events.js](https://github.com/bencevans/node-sonos/blob/master/examples/events.js) but it does not work as expected

## Current Behaviour

I get following error

module.js:538
    throw err;
    ^

Error: Cannot find module '../'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)

[2018-03-24 10:48] bencevans commented on #244
You'll need to change the '../' to 'sonos' and run `npm install sonos` to download the library.

[2018-03-24 10:48] #244 closed

[2018-03-24 11:11] zenturacp commented on #244
Yes - figured out.. :-) Thanks for the swift reply - you guys saved my day now my kid can't turn up the volume any more.. :)

[2018-03-25 11:17] svrooij commented on #243
The problem is that sonos does accept .mp3 files in the url, but the urls from those companies don't end with `.mp3`.
You could however create some kind of php (or other language) redirect page that would accept `http://yourserver.com/tts/en_us/hello+world.mp3`  and them send them a 301 to one of those service.

Personally I don't get why you would create a http api for sonos, since it already got

[2018-03-25 11:33] svrooij commented on #241
I've been checking the code for this, but I don't have that setup here. I was in the understanding that all the group members have the same group Id. And [this part](https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L272-L275), should get the correct group ID even if the device you want to join isn't the coordinator.

Could you might send me the output of the following code?
[code]

[2018-03-25 11:36] svrooij commented on #233
@olivierjc you got something to work with?

If you got something to share you can always reopen this issue.

[2018-03-25 11:36] #233 closed

[2018-03-25 11:37] svrooij commented on #244
What did you build? Volume limiter?

[2018-03-25 11:43] svrooij commented on #242
I don't think this i the correct way to execute those 4 promises.
If you want to chain them you could have a look [here](https://javascript.info/promise-chaining). Do you still need any help? Since you closed this issue yourself

[2018-03-25 15:51] magnlund commented on #242
Hi Stephan!
Finally I realized my bad approach, I don’t think it was a bug really😉
 I solved it though by copying your playNotification function and made some changes to fit into my special needs. Now it works like a charm.
Thank you for responding and also for a GREAT API.

Regards
Magnus Lundberg
______________________________________
Magnus Lundberg
Mobile: +46 730 23 09 36
Email: contact.magnu

[2018-03-25 20:01] zenturacp commented on #244
Yes @svrooij  on event Volume change change back to Max limit for the specific device..

[2018-03-25 22:06] zenturacp commented on #244
But it's my first Node.JS project and really need to understand the way it behaves but went from pulling to events - now I will add more speakers and after that a web interface for real humans..

Seems like I will be able to do that with my limited Node experience though :-) it took like 15 minutes to do the 1. Release and my evening was saved..

[2018-03-26 22:18] bencevans opened #252 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-26 22:18] bencevans commented on #252
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-26 22:19] #252 closed

[2018-03-28 08:12] kimaldis opened #253 "getName() no longer available"
Having discovered a device, is there a way to get the device's name?

many thanks.

[2018-03-28 18:30] svrooij commented on #253
With the big migrate to async, I apperantly removed it, 😬.....

It should be in sonos.getZoneAttrs(), [here](https://github.com/bencevans/node-sonos/blob/b5647b2359f1bb5575354dbe913c59a16effc225/lib/sonos.js#L437)

Will add the getName function back in soon.

[2018-03-28 19:33] kimaldis commented on #253
that was it. Thanks.

[2018-04-02 11:45] svrooij commented on #241
I added an extra parameter, that still allows for the original behavior, but also lets you join the devices correctly.

Please re-open if you still think this is an issue.

[2018-04-02 16:58] #241 closed

[2018-04-02 16:58] #253 closed

[2018-04-02 17:00] bencevans commented on #253
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-02 17:00] bencevans commented on #241
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-07 07:02] MikaAK commented on #148
Is there a solution to this? I tried the code from the example and was still hit with 500 errors

[2018-04-07 07:09] svrooij commented on #148
Could you create a new issue for your problem. We set-up an issue template that helps us solving issues faster.

Without the output of some example it is really hard to diagnose the problem.

[2018-04-07 07:11] freaktechnik opened #257 "Question: How to get shuffle/repeat state changes"
First of all, thank you for this library, so I didn't have to dig into the Sonos API myself.

Is there an event for when the shuffle and repeat states change (so when the value of PlayMode changes)?

[2018-04-07 19:49] MikaAK commented on #148
For sure! I just didn't want to create a new issue for an old one before asking 😄

[2018-04-07 20:58] svrooij commented on #257
I think does events will be included in the AVTransport events. See the [events sample](https://github.com/bencevans/node-sonos/blob/master/examples/events.js#L41-L43).

They are not yet emitted separate, but if you check out the [event parser](https://github.com/bencevans/node-sonos/blob/master/lib/events/eventParser.js#L24-L67) you see that splitting out the playmode in a separate event is not v

[2018-04-07 21:00] freaktechnik commented on #257
What would it look like? I don't really know the ZP protocol.

[2018-04-07 21:05] svrooij commented on #257
I would start the event sample with the correct IP address. And then change the playmode with the app. You'll see the event in the console.

We have setup the event handling, and created a basic parser to emit specific extra events for easier event handling. But we still emit the original events coming from the Sonos speakers, so if you want extra events just check it out.

[2018-04-07 21:54] MikaAK opened #258 "Switching between TV and Music"
When the TV is playing it takes up the Queue in Sonos for those speakers and it cannot seem to be replaced.

## Expected Behavior
It should play the new song when calling `play`

## Current Behavior
It errors out with 500 and returns to me
[code]

## Sample code or executed example
[code]

1. Play something via line in on TV that consumes speaker
2. Find coordinator from topologies and choose that

[2018-04-07 22:14] #258 closed

[2018-04-07 22:15] MikaAK commented on #258
# EDIT

It seems if you pause in debugger a lot of these things no longer work. However when you don't use debugger these things start working.

[2018-04-13 09:41] bencevans opened #263 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-13 09:41] bencevans commented on #263
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-13 09:41] #263 closed

[2018-04-25 11:53] htilly opened #265 "sonos.queueNext is not a function"
When calling "sonos.queueNext" I get the response:
"TypeError: sonos.queueNext is not a function"

Used syntax in the example:
https://github.com/bencevans/node-sonos/blob/master/examples/queuenext.js

Btw, great with all the examples =)

Add the track as next in queue =)

1.
2.
3.
4.

## Versions (and Environment)

**Node version**: v9.11.1
**node-sonos version**: "sonos": "^1.1.2"
**OS**: RHEL7

[2018-04-25 20:04] svrooij commented on #265
The [old code](https://github.com/bencevans/node-sonos/blob/v0.x/lib/sonos.js#L816-L836) says it is just a call to [setAVTransportURI](https://github.com/bencevans/node-sonos/blob/master/docs/sonos.md#sonossonossetavtransporturioptions).

So the old sample has to be replaced with a call to `setAVTransportURI`

[2018-04-25 20:04] #265 closed

[2018-04-26 09:59] htilly commented on #265
Thanks, works!

Tilly

[2018-04-26 10:01] htilly opened #266 "Help - RemoveTrackFromQueue"
Hi again =)

How can I call the following function?
https://github.com/bencevans/node-sonos/blob/f3e85296ffbebc4baeb3960b52e6ac31744e4309/lib/services/AVTransport.js#L63

var track = 3
sonos.RemoveTrackFromQueue(track).then(success => {
      _log('Removed the following track from the queue:' + track)
    }).catch(err => { _log('Error occurred: ', err) })

TypeError: sonos.RemoveTrackFromQueue is

[2018-04-26 12:15] svrooij commented on #266
@htilly Al the functions in the `lib/services` folder are "expert" functions. Not everything is implemented/documented in the library, but you could use it by getting a `AVTransport` with:
[code]

We use the `AVTransport` in the lib as well, for example [here](https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L218-L222).
So you'll need to find out what parameters you'll have to send

[2018-04-26 18:55] htilly commented on #266
Ok, thanks for the fast reply. Could you help me a little bit further..
So I got the XML (converted to JSON):
{
					"name": "RemoveTrackFromQueue",
					"argumentList": {
						"argument": [
							{
								"name": "InstanceID",
								"direction": "in",
								"relatedStateVariable": "A_ARG_TYPE_InstanceID"
							},
							{
								"name": "ObjectID",
								"direction": "in",
								"rel

[2018-05-09 14:17] curry684 opened #274 "getTopology crashes on standalone device"
I have a single Sonos Connect in the office. When I use either discovery or direct connection and then run `getTopology` like this:

[code]
or
[code]
The code crashes with:
[code]
Apparently zones are not sent if there aren't any.

[2018-05-10 03:06] svrooij commented on #274
Will investigate when I get home. Could you run it with `DEBUG=sonos* node sample.js` that would provide us with a lot of useful info.

[2018-05-10 05:54] curry684 commented on #274
May be able to look into it tomorrow - can't reproduce it at home with a Play:1 pair apparently as they do have a zone.

[2018-05-11 08:47] curry684 commented on #274
Think this is the part you're looking for, marked as `sonos:main getTopologyResult`:
[code]

[2018-05-14 15:56] svrooij commented on #266
Closing this issue for now, please re-open if you still got a problem

[2018-05-14 15:56] #266 closed

[2018-05-14 15:59] svrooij commented on #257
@freaktechnik did you work it out?

I’ll create the event for you In about 3 weeks. Got other stuff to do at the moment.

[2018-05-14 16:00] #243 closed

[2018-05-14 16:10] svrooij commented on #274
If I understand correctly the xml to JSON converter incorrectly parses a single object array to just a single object?

That might be something that would be configurable in that library see [here](https://github.com/bencevans/node-sonos/blob/b7a9af27eca9632e0748f2d3aeb8966b0a6cf0f7/lib/helpers.js#L167)

[2018-05-14 20:27] curry684 commented on #274
That line most certainly seems to be the cause:

From the docs:

Given the more predictable results I understand this defaults to `true`, and it leaves you wondering why it was explicitly disabled. However toggling the option here in the helper would likely mean retesting the whole library from scratch, something I certainly wouldn't recommend unless working towards a new major release.

For now t

[2018-05-15 04:10] svrooij commented on #274
Changing it in the Helpers class would kill this library. Without it, it will create some weird objects. That’s why I put it in, but if their is a child array it should still be an array with one object.

Or I will just create the object prototype forEach to just return the object.

[2018-05-15 09:04] curry684 commented on #274
For more explicit clarity I would then prefer something like `Array.wrap = function(arr) { return Array.isArray(arr) ? arr : [arr]}`. [Quite common functionality](https://www.rubydoc.info/docs/rails/3.1.1/Array.wrap).

[2018-05-28 21:18] svrooij commented on #274
sounds like a great plan, want to create a pull-request

[2018-06-03 20:14] faxe1008 opened #282 "Port to older Node Version"
Hi,

I wanted to know if you guys have a port to older versions of node specifically node version 6, since I am currently working on a aws project and for IoT only version 6 is supported at the moment.

[2018-06-03 20:27] svrooij commented on #282
This library is migrated to be completely async. That made us choose not to support Node v6 anymore. (See here, for more info)[https://node.green/#ES2017-features-async-functions]

The old version is available [here](https://github.com/bencevans/node-sonos/tree/v0.x) from before the async transition. This might not have all the features since we changed a lot with the conversion to being async.

[2018-06-10 10:04] ebaauw opened #285 "Retrieve active subscriptions from ZonePlayer"
Do you know if it's possible to get an overview of all active event subscriptions from a ZonePlayer?

Several firmware versions ago, this information was displayed in the ZonePlayers `/status` page, under _upnp_, but that's no longer supported.

[2018-06-12 17:01] bencevans commented on #285
I'm not sure that the UPnP protocol provides information on the other clients. Maybe worth running the Sonos debug / troubleshooting with Wireshark running to see if you can spot anything useful there.

[2018-06-12 19:15] svrooij commented on #285
@ebaauw what would be the usecase of this question, maybe I can help with this.

Some facts about the subscriptions:
By default every subscription expires 3600 seconds after it is created and not renewed.
In the code this is automatically handled by the listener.
This library requests a timeout of 1800 seconds (30 min) and tries to renew after 25 min, that seemed more stable, because of timescrew.

[2018-06-12 19:39] ebaauw commented on #285
Use case: As a paranoid developer, I want to see what subscriptions the Sonos ZonePlayer has registered.  I'm still kinda upset that Sonos killed the debug option.

I'm actually implementing cancelling the subscriptions that homebridge-zp made, when homebridge exits, so no stale subscriptions remain.  I just wanted to check that the subscriptions are indeed cancelled.  Normally the 30 minute lifes

[2018-06-12 20:07] svrooij commented on #285
Homebridge-ZP uses this library to communicate to Sonos right?

Have you tried calling, and awaiting, `stopListening()` on the global listener? That should cancel all active subscriptions, and should always be called before you kill the application. That should fix it no matter what. https://github.com/bencevans/node-sonos/blob/master/lib/events/adv-listener.js#L74

It will ignore all unknown subs

[2018-06-12 20:08] #282 closed

[2018-06-12 20:14] ebaauw commented on #285
Still the old, pre-async version.  I'm still handling the subscriptions myself.  I actually verified that the subscriptions are cancelled, by cancelling them twice and getting an error on the second cancellation.

Indeed, it's a very robust mechanism.

[2018-06-12 21:11] ebaauw commented on #285
Time.  Or rather: the lack of it.  Or rather: too much other, more urgent things.  E.g. I first need to create a hook in homebridge, so my plugin gets notified when homebridge is about to exit.
I do feel bad about it, because I was one of the advocates for the async version.  It is still in the planning for the next major refactor.  No ETA, though.

Yes.

[2018-06-12 21:11] #285 closed

[2018-06-12 21:22] svrooij commented on #285
Maybe you’re in luck and you could just bind to the `SIGINT` event.

https://github.com/svrooij/sonos2mqtt/blob/master/src/bridge.js#L79

[2018-06-12 21:29] ebaauw commented on #285
homebridge already does that.  Adding another listener steals the event from homebridge, so it won't exit cleanly.  Also tried the `process.on('exit', () => {...})` hook provided by NodeJS, but that comes too late, as it only supports synchronous calls from the handler.

[2018-06-29 02:28] sineqa opened #290 "Question: How do I subscribe to events?"
# How do I subscribe to and handle events?

The examples don't work for me.
I try doing:

[code]

but I get:

[code]

[2018-06-29 10:34] bencevans commented on #290
The `.on` function was added in `v1.0.0`. Please can you check that you're using a recent version?

[2018-07-01 05:02] icallend opened #292 "Alarm with id %s not found"
Listing all alarms works fine. Aware that comparison is '===' so have made sure types are set appropriately. Node 10.4.1 on Raspbian.

Result is:
[code]

Code:
[code]

[2018-07-02 18:55] icallend commented on #292
Issue is in AlarmClock.js

[code]
returns
[code]

in AlarmClock.js (beginning 105)

[code]
thus, `alarm of result.CurrentAlarmList` is not an individual alarm, but the json object above in which CurrentAlarmList is nested.
For a return of an array of json objects, each an individual alarm, this must read `alarm of alarmResult.CurrentAlarmList[0].Alarms.Alarm`

[2018-07-17 10:47] bencevans opened #299 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-17 10:47] bencevans opened #300 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-17 10:47] bencevans opened #301 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-17 16:53] #299 closed

[2018-07-17 16:53] #300 closed

[2018-07-17 16:53] #301 closed

[2018-07-19 10:22] bencevans commented on #274
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-30 06:50] ThomasMirlacher opened #308 "Question: How to play a playlist."
While the examples are really helpful for getting started,
i fail to find an example/documentation on how to queue
and play a playlist (ideally an amazon playlist).

any help would be appreciated!

[2018-07-31 12:43] #308 closed

[2018-08-01 11:47] svrooij commented on #308
@ThomasMirlacher you found it already?

The trick I always use myself is, just play it from the App and then extract the data.
Playlists is always tricky, because it actually adds all the songs in a playlist to a new sonos queue.

Maybe you can send us a PR, if you found the solution? Or if that doesn't work for you (you don't know how), just past the code down below between three ``` ` ```

[2018-08-03 19:38] ThomasMirlacher commented on #308
@svrooij well, after using tcpdump i do have a solution for this one ...
not clear if it works for everyone out there.

[code]

... next thing to work on is how to play a tunein radio station using the information retrieved from sonos.getFavorites()

[2018-08-17 12:59] freaktechnik opened #323 "Some XML parsing error"
## Expected Behavior
No parsing errors

## Current Behavior
[code]

## Sample code or executed example

This happens when the player responds with "NOT_IMPLEMENTED" for "TrackMetaData" when playing from a connect input. Here the debug logs before the error:
[code]

## Versions (and Environment)

**Node version**: 10.0.0
**node-sonos version**: 1.4.0
**OS**: elementary OS

[2018-08-18 20:37] svrooij commented on #323
Actually this error is expected, since NOT_IMPLEMENTED isn’t a correct xml format 😃 .....
Would be nice to check if the value is xml before parsing. Any ideas?

[2018-08-18 20:43] svrooij commented on #323
I think this [line](
https://github.com/bencevans/node-sonos/blob/f3e85296ffbebc4baeb3960b52e6ac31744e4309/lib/services/AVTransport.js#L127) could easily be adjusted to don’t parse `NOT_IMPLEMENTED`

[2018-08-26 21:48] tylermenezes opened #327 "Google Play Playlists"
Hi! I'm trying to add support for Google Play playlists to `Helpers.GenerateMetadata`, and could use a bit of help. I know that, to play a Google Playlist, the request looks like:

[code]

The problem I'm having now is identifying whether something is a Google Play playlist. All the playlists start with `x-rincon-cpcontainer:1006206c`, but everything past there varies from playlist to playlist. Un

[2018-08-27 05:46] svrooij commented on #327
We could probably work with the last part.
Are you experienced with Wireshark?

The way I also implement new features is by eastdropping on the communication between the desktop app and the Sonos speakers. Since this communication isn't encrypted (most of the time), you can easily listen in and mimic this behavior.

The easiest to implement a new music service is if you might have a clean dump (Wi

[2018-08-27 05:53] tylermenezes commented on #327
Yep! I got it working using Wireshark captures; the only thing I wasn't sure of is how to uniquely identify it as Google Play, since all the other examples use a prefix rather than a suffix. If you think the URI query string will uniquely identify it, I can submit a pull request.

[2018-08-27 05:57] tylermenezes commented on #327
I did some more research into this, and [it looks like SID is a globally unique ID for each music service,](https://groups.google.com/forum/#!topic/python-soco/MkZQ4KWdsp8) so I can match on sid=151. I'll submit a pull request for that once I have a chance. Thanks!

[2018-08-27 06:05] svrooij commented on #327
Searching in external music services would also be really nice.
But from my initial findings those requests don't go through the Sonos device, but go straight to the music services api

[2018-08-29 07:47] Coriou opened #330 "Question: Send custom metadata"
Loving this library and using it I was able to achieve what I was trying to do. There's however something I can't figure out is how to send custom metadata (title, artist, cover, ...) ?

I understand the `play()` methods accepts and object with a `meta` key however I can't figure out the format I need to send this information for Sonos to parse it.

Is it even possible without using an actual "ser

[2018-08-29 09:13] svrooij commented on #330
The `play` [command](https://github.com/bencevans/node-sonos/blob/f0a45ac184871373ad7bf107e1fe10f9429dcf1a/lib/sonos.js#L184) accepts both an string or an object. If it is a string is should be an url that is playable. If it is an object it should have at least an `uri` property, but you can also specify a `metadata` property.

So you could try something like:
[code]
And have a look at `GenerateMe

[2018-08-29 09:32] Coriou commented on #330
Yeah well, as often, after spending a couple hours searching/testing how to do that, I finally decided to open this issue and, within the next 15 minutes, I came across the solution ...

Here's what helped me : https://github.com/denysvitali/sonos-web/blob/master/test/didl.xml

Essentially, Sonos will parse correctly the XML if you send metadata as follows :

[code]

So, you could something like :

[2018-08-29 17:28] ebaauw opened #331 "FYI: Sonos developer programme"
FYI, Sonos announced a new developer programme, to be launched Sept 6.  See
https://developer.sonos.com.  I'm hoping for a real (RESTful) API, less XML and more json...

[2018-08-29 20:11] svrooij commented on #331
Lets hope they don’t kill the current integrations....

[2018-09-05 19:04] magnlund opened #332 "sonos.getTopology() does not work after upgrading to Sonos version 9.1"
After upgrading to Sonos Version 9.1 sonos.getTopolgy() does not work anylonger and therefore sonos.JoinGroup() fails

## Expected Behavior
http://IP_ADRESS:1400/status/topology seems to be empty and therefore sonos.getTopology() fails with error message "Cannot read property 'ZonePlayer' of undefined"

## Possible Solution
I would really like an update on this cause grouping management is essenti

[2018-09-05 20:28] ebaauw commented on #332
This got me scared, but it looks like homebridge-zp is still working.  Please be aware that upgrading the ZonePlayer causes it to reboot, losing all subscriptions.  There's no notification (that I've seen, or handle) to clients with an open subscription, so effectively clients are no longer receiving events until they renew the subscription or are restarted.

[2018-09-06 02:50] magnlund commented on #332
Thanks for your quick respons. If I got you correct I need to restart the CLIENT. I tried to factory reset all my players but that did not help. Please confirm.

Sent from ProtonMail Mobile

On Wed, Sep 5, 2018 at 22:28, Erik Baauw <notifications@github.com> wrote:

[2018-09-06 05:37] magnlund commented on #332
This Seems to be tricky. I have done factory reset on all my 3 players and restarted my Rpi. Stil the same issue. Morse tip are highly appreciated cause I really rely on your script in my HA setup. I have 2 connect amps and one Sonos One

Sent from ProtonMail mobile

-------- Original Message --------
On 6 sep. 2018 07:19, Erik Baauw wrote:

[2018-09-06 19:18] magnlund commented on #332
Please find this thread. It comes from node-sonos. The next came from you as well but from zonebridge

Sent from ProtonMail mobile

-------- Original Message --------
On 5 sep. 2018 22:28, Erik Baauw wrote:

[2018-09-06 20:13] ebaauw commented on #332
These are undocumented debug pages, and have been known to change unannounced.  Best not base node-sonos (or any client) on this.  Use the `zoneGroupTopology` service instead.

[2018-09-06 21:11] magnlund commented on #332
Makes sense but this is the adress which is being used by getTopology() in sonos.js. I would be extremely happy if a new updated version of sonos.js could be released because joinGroup() does NOT work with sonos 9.1

Sent from ProtonMail Mobile

On Thu, Sep 6, 2018 at 22:13, Erik Baauw <notifications@github.com> wrote:

[2018-09-06 22:04] ebaauw commented on #331
They launched, see https://developer.sonos.com/build/.  Looks like they provide two different APIs, one for content providers and one for controlling the Sonos players.  The Control API looks RESTful (yes!), but is cloud based (not for me!).  They also mention a control API on the LAN, but that is not yet available.  I'm as excited about this as I am about the Airplay 2 support of my PlayBar.

[2018-09-07 15:51] magnlund opened #333 "playTuneinRadio(stationId, stationTitle) does not work after upgrading to Sonos 9.1"
playTuneinRadio(stationId, stationTitle) does not work after upgrading to Sonos 9.1

## Expected Behavior

## Current Behavior
Sonos returns error message unknownMediaRequest

## Possible Solution
I would really appreciate a new version of this great API supporting Sonos 9.1

## Sample code or executed example

## Versions (and Environment)

**Node version**: 8.9.3
**node-sonos version**:  1.4.1
*

[2018-09-08 21:18] svrooij commented on #333
Still working over here.

You can verify by typing the following in the terminal in the root of the sonos lib. (Be sure to replace your ip).

[code]

Please put the output of the above command in a comment, if it isn't working for you.

[2018-09-08 21:18] #333 closed

[2018-09-09 09:37] svrooij commented on #331
If you've upgraded to v9.1 you now have [IFTTT](https://ifttt.com) supporting sonos. So you can trigger things right from the cloud.

[2018-09-09 12:01] magnlund commented on #333
Thanks for respons! The problem is now resolved! All TuneIn station IDs seem to require a leading "s" which was not the case until a week ago. I simply updated all my stationIDs with  that and now it works. As you said this was not related to Sonos;) What are the plans regarding resolving the grouping issue that I previouesly registered?

Regards
Magnus Lundberg
__________________________________

[2018-09-10 19:15] #332 closed

[2018-09-10 20:03] magnlund commented on #332
Just installed 1.5.0. Works like a charm. Thank you SO MUCH for this quick response

[2018-09-10 21:57] jcleek commented on #332
Can you tell me how exactly you installed the new version and got it to work? I have tried both packages listed by bencevans and neither cause it to work. Homebridge crashes on SONOS.

[2018-09-11 05:15] magnlund commented on #332
Just to clarify. This is about node-sonos 1.5.0; not homebridge.
After release of 1.5.0 yesterday evening i simply did this:
-Changed  my package.json file to 1.5.0
- Installed 1.5.0 via npm install

Sent from ProtonMail Mobile

On Mon, Sep 10, 2018 at 23:57, jcleek <notifications@github.com> wrote:

[2018-09-11 16:56] jcleek commented on #332
ah, ok. Thank you sir. Hopefully someone smarter than me can get this working with homebridge.

[2018-09-12 19:06] tylermenezes commented on #327
@svrooij I'll open a pull request with what I have so far, but I haven't had time to actually confirm it works. If someone else wants to confirm it works, go ahead, otherwise I'll check this weekend.

FWIW, it would be a lot cleaner overall to check the SID for other services as well, if it doesn't break anything (although Sonos doesn't publish a list anywhere I can find)

[2018-09-14 10:02] ptorrent opened #339 "Event volume not firing after setVolume"
Hello,

Event "volume" not firing after setVolume( x ) ?

[code]
Only thoses events seems to work :

[code]
Thanks for support !

[2018-09-14 20:48] svrooij commented on #339
There are two different event emitters.
One global event emitter (for group / alarm changes), the one you're referring to.

And every device is an event emitter as well, for events specific to that device. The way it works is that if you subscribe to a event on the device itself, it will create the listener automatically.

There also is a sample in the sample folder, that last time I checked, work

[2018-09-14 20:48] #339 closed

[2018-09-14 20:51] #331 closed

[2018-09-18 18:06] ptorrent opened #341 "Destroy sonos device ?"
Hello there !

Is there a way to destroy Device like device.destroy (listeners, etc.... )

Is it possible to know when a device is disconnected ?

Thanks for support !

[2018-09-19 19:18] bencevans commented on #341
`device.stopListening()` should do the trick.

[2018-09-19 19:18] #341 closed

[2018-09-19 21:05] svrooij commented on #341
Or check out the event sample https://github.com/bencevans/node-sonos/blob/master/examples/events.js

[2018-09-21 15:55] WeeJeWel opened #344 "Error since sonos firmware update (since cloud api)"
[code]

Seems like `info.ZonePlayers` is undefined.

[2018-09-23 08:46] svrooij commented on #344
Sadfully Sonos removed this endpoint in v9.1
That is why it’s deprecated
https://github.com/bencevans/node-sonos/blob/09673a7ba722c0ad56a8054925b1adff369eaaad/lib/sonos.js#L550

As stated in the readme, all libraries depending on getTopology() should migrate to `getAllGroups()`.
https://github.com/bencevans/node-sonos/blob/master/lib/sonos.js#L245-L249

Is this library used in the Homey Emile?

[2018-09-26 09:39] WeeJeWel commented on #344
Thank you!

[2018-09-26 09:39] #344 closed

[2018-10-27 15:41] Takkuz opened #350 "Spotify account selection if multiple exists"
I've multiple Spotify account registered and when calling `.play(URISong)` it responds with uPNPError 711. After launching a song using official app everything starts working as expected.

I didn't find any way to select Spotify account.

[2018-10-29 01:20] bencevans commented on #350
@Takkuz are you familiar with [Wireshark](https://www.wireshark.org/). It would be handy if you could load up the Sonos app, queue two songs from different accounts while recording the network traffic. Then we can try to identify how the Sonos app is differentiating when loading from each account.

Although I'd of thought if the accounts are in the same region then both should be able to play the

[2018-11-05 20:13] AxelDolislager opened #355 "cannot get eventlistener to work."
For the past 4 hours I've been tweaking around in my project trying to get the eventlistener to work.
I'm also using https and socketio, but that wouldn't be the problem I guess.

Can someone please tell me what I'm doing wrong?
Right now I just have this in my index.js file with everything else commented out.

[code]

Thanks!

[2018-11-06 08:53] svrooij commented on #355
Hi Axel,
I think it might be an issue that you try to start the listener without it having at least one some device.

Not even sure why the manual starting of the listener is even supported (aka why tha f... did I build it).

I would just use the last statement, it will automatically setup the listener without you having to do anything.

So start with `sonos.on(".....")` and just skip the startLis

[2018-11-06 13:56] AxelDolislager commented on #355
Hey @svrooij thanks for replying!

Right now I'm trying it like this:

[code]

But this also doesn't seem to work.
I usually play with spotify, is that also supported or should i use the spotify api for that?

Thanks again!

[2018-11-06 14:17] svrooij commented on #355
Could you try the following.

1. Check-out this repository and open the folder
  `git clone https://github.com/bencevans/node-sonos.git && cd node-sonos`
1. Run `npm install`
1. Run `SONOS_HOST=192.168.1.148 node examples/events.js` and see what happens.

That works here, I'm running Node v8.7.0 and my sonos is on version 9.2

[2018-11-06 16:10] svrooij commented on #355
What OS are you using?

For the event listener to work, it will automatically setup a small http server on port 4000 (overridable by setting `SONOS_LISTENER_PORT`).
This http server is then used as an endpoint for the notifications.

So it should be reachable from the sonos system (and not be blocked by the firewall on your PC).

[2018-11-07 14:52] #292 closed

[2018-11-07 14:54] bencevans commented on #292
:tada: This issue has been resolved in version 1.5.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.5.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-07 15:36] AxelDolislager commented on #355
I don't know what I did, but it seems to work now!
Thanks for your help!

[2018-11-07 15:43] #355 closed

[2018-11-10 12:53] ludlovian opened #359 "sonos.getAllGroups returns (a Promise of) an array of a promise of an array"
I would expect sonos.getAllGroups to return a Promise of the group data. Ideally always an array of group data if there is only one group

After the recent commit [fca8ec5](https://github.com/bencevans/node-sonos/commit/fca8ec594f906a71055f1bf70743f2a09dd9f27b) it now returns a Promise of an array of the Promise of the group data (often an array)

The current implementation has:
`const zones = thi

[2018-11-12 21:43] svrooij commented on #359
You’re totally right. How about after your first github issue you create a PR to fix it?

I’ll have a look tomorrow

[2018-11-13 11:27] ludlovian opened #362 "Timeout fires in test invalidating later tests"
In fixing #359, I noticed that some of the later tests failed randomly.

In an earlier test, a timeout is set to `assert(fail)` after 100ms to catch the situation where a `DeviceDiscovery` does not issue a `timeout` event when it should.

If the test passes, then the rogue timeout is left hanging to fire 100ms later, disrupting later tests.

https://github.com/bencevans/node-sonos/blob/851a5355cd0

[2018-11-13 18:34] bencevans commented on #359
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-13 20:09] svrooij commented on #362
Next time if you type `Fixes #362` in the commit, it will automatically close the issue when the PR is accepted.

[2018-11-13 20:09] #362 closed

[2018-11-19 16:20] wwwizzarrdry opened #365 "sonos.play(uri) results in a CORS error."
**sonos.play(uri) results in a cors error.**

[code]
The file plays fine
![image](https://user-images.githubusercontent.com/2218144/48720595-09fe1800-ec31-11e8-9f67-d821e26e7dd7.png)

And when I run the same command without Vue+Webpack it works. Is there something about vue or webpack that changes the headers to no cors?

[2018-11-19 17:01] ebaauw commented on #365
This reads like a firewall blocking the connection from 192.168.2.8 (presumably where your node Sonos client runs) to the Sonos zoneplayer, _not_ from your Sonos zoneplayer to the library on 192.168.2.115.

[2018-11-19 17:08] ebaauw commented on #365
Are you running the Sonos client in a web browser?  Then you need to provide an additional HTTP header to allow the Javascript to access another server then from which it was loaded.  See https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS.

[2018-11-19 21:19] svrooij commented on #365
I don’t think package is build to be used in the browser.
If you want to control it from a website (or whatever) you’ll have to control it from the node proces.

So the controls go web browser -> node proces -> sonos

[2018-11-20 03:31] wwwizzarrdry commented on #365
That makes sense as it it works when I test it as a one-liner from the examples, and not from my web app.

So I should create a spawn a separate http server for Sonos to listen on? Similar to how you would run a socket server alongside another app running on another port. I.E. like in `/examples/nowPlayingWebsite.js`

[2018-11-20 08:38] svrooij commented on #365
No you should create a seperate http server where your web application talks to and then sends those commands to the chosen sonos speaker.

I would suggest create an [ExpressJS](https://expressjs.com/en/starter/basic-routing.html) application with endpoint like `/play` and `/stop` then you got control over all the headers and you can just control your sonos speaker from the web-application.

You c

[2018-11-20 15:19] wwwizzarrdry commented on #365
Thanks, that how I have it working now. Wanted to find a way to avoid running a separate sonos server.

@svrooij

I'm just making a Plex clone, that has Sonos support build in.
<img width="802" alt="1a" src="https://user-images.githubusercontent.com/2218144/48783066-9ae7f880-ecf0-11e8-9b6d-ce9d73913e6d.PNG">
<img width="802" alt="1b" src="https://user-images.githubusercontent.com/2218144/48783081-

[2018-11-22 18:43] dstollie opened #367 "500 error when trying to play a song in any way"
Both when I try the mp3/spotify example from examples folder in this repository I get an 500 error. This is the full error I get:

[code]

**The things I checked**
1. I can succeeded in muting/unmuting the sonos.
1. I am 100% sure the Sonos is on the IP in the following code example im testing with

[code]

Can somebody give me some tips on how to solve this?

[2018-11-22 18:47] bencevans commented on #365
@wwwizzarrdry this is a limitation by the Sonos api we use. It doesn't support CORs as far as we are aware. You would need to proxy the requests through a separate server that adds the CORs headers.

[2018-11-22 18:47] #365 closed

[2018-11-22 18:51] bencevans commented on #367
Thanks for your well detailed report @dstollie! I think there has been breaking changes with the play functionality on the API / device side. To solve this the best method of investigation is to use [Wireshark](https://www.wireshark.org/) along with the official Sonos controller. Record and inspect the packets/requests the official controller makes to the Sonos devices and ensure the requests node

[2018-11-24 08:03] wwwizzarrdry opened #368 "Unable to remove track(s) from queue"
I assume we have to implement this with `request(endpoint, action, body, responseTag)`

Any idea what action Sonos is expects when you remove a selected track?

[2018-11-24 09:31] svrooij commented on #368
This can be done by calling one of the things in the `AVTransport` service.
https://github.com/bencevans/node-sonos/blob/master/lib/services/AVTransport.js#L63

Will have a look into the needed parameters.

[2018-11-24 16:49] wwwizzarrdry commented on #368
Thanks for pointing this out. An essential resource to be aware of.

[2018-11-26 18:29] wwwizzarrdry opened #370 "Subscribe to Stream Updates aka reportPlaySeconds"
Can't subscribe to changes in `currentTrack`.

For example, listen for changes to  `CurrentTrack`.`position`. The only way to capture position updates currently is to poll 'currentTrack' every second when a Play event is heard, and clear the polling when a Pause or Stop event is caught.

The Sonos API already broadcasts this information as documented here: https://musicpartners.sonos.com/?q=node/4

[2018-12-01 15:51] wwwizzarrdry commented on #330
ReadMe show a `sonos.parseDIDL()` method but it's undefined when called.

Anyway, thanks for sharing @Coriou - this helped me figure out how to send metadata.

[2018-12-01 18:42] bencevans commented on #330
@wwwizzarrdry looks like it's moved to `sonos.Helpers.parseDIDL()` ... https://github.com/bencevans/node-sonos/search?utf8=%E2%9C%93&q=parseDIDL&type=

[2018-12-02 13:36] globalcryptocoin commented on #367
Can confirm the bug, looking for a solution, can help out with testing, just let me know what!

[2018-12-02 17:16] globalcryptocoin commented on #367
Will check and report, using 9.2 so far.

[2018-12-03 15:01] wwwizzarrdry opened #373 "How set group volume"
How to you set the volume for a group of speakers with `sonos.setVolume()`
Are you supposed to loop through all zones returned from `getAllGroups()` and set volume explicitly for each?

[2018-12-03 16:09] bencevans commented on #373
Yes. Essentially the Sonos app sends a command to each device to update the volume when you change the "group volume".

[2018-12-03 16:09] #373 closed

[2018-12-03 17:19] ebaauw commented on #373
Actually, the Sonos app sends a `setGroupVolume` command to the `GroupRenderingControl` service.  You need to instantiate the `GroupRenderingControl` service and invoke it’s `_request()` method to do the same.

[2018-12-03 17:20] bencevans commented on #373
Ah i stand corrected. Thanks @ebaauw!

[2018-12-04 03:48] wwwizzarrdry commented on #373
So would that be done like this?

`const { GroupRenderingControl } = require('sonos');`

or

`const group = new sonos.GroupRenderingControl(host, port);`

[2018-12-04 06:58] ebaauw commented on #373
Something like:
[code]

I’m still using the old callback version of node-sonos (so much to do, so little time...), but if you see past that, here’s an example:
https://github.com/ebaauw/homebridge-zp/blob/c9e04ea3accdf5a3d0c1bfd3c09da56db8fd0254/lib/ZpAccessory.js#L132
https://github.com/ebaauw/homebridge-zp/blob/c9e04ea3accdf5a3d0c1bfd3c09da56db8fd0254/lib/ZpAccessory.js#L777-L789

[2018-12-04 07:11] ebaauw commented on #373
Note the sonos API documentation for each service is on the zoneplayer itself,
`http//`_ipaddress_`:1400/xml/GroupRenderingControl1.xml`.  The services are listed in the `device_description.xml`, which is referred to from zoneplayer’s the UPnP messages.

[2018-12-04 13:22] wwwizzarrdry commented on #373
@ebaauw A huge help, thanks for taking the time to spell this out for me. My current implementation is so poor, this will make a big difference.

[2018-12-04 22:18] svrooij commented on #368
@wwwizzarrdry just took the time to implement removing files from the queue.

Now I can finally create an **Auto remove artist x from queue**-script

[2018-12-04 22:22] svrooij commented on #370
The Sonos api is something totally different, the only released it very recently and isn't really opened up.
You could also use a local timer and sync with sonos once every minute.

Closing this for now, if you want to have this implemented in node-sonos you can always open this ticket again.

[2018-12-04 22:22] #370 closed

[2018-12-04 22:31] svrooij commented on #350
@Takkuz We have no way of verifying this.

Closing this issue for now, please re-open if you got some wireshark output for us to analyze.

[2018-12-04 22:57] svrooij commented on #330
Would it help if we would add a helper class like:
[code]

Then you could do
[code]

[2018-12-05 08:04] Coriou commented on #330
I think that would be fantastic yes

[2018-12-05 13:19] #368 closed

[2018-12-05 13:20] bencevans commented on #368
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-05 14:15] svrooij commented on #368
🎉
@wwwizzarrdry you can now Remove 1 or multiple songs from the queue.

[2018-12-05 16:15] wwwizzarrdry commented on #368
That's huge! Going to make a lot of people happy today ;)

[2018-12-14 14:50] believer commented on #373
@ebaauw have you encountered weird behavior when using this API? It seems like some speakers are set to the `DesiredVolume`, but others are increased/decreased. My implementation looks something like this

[code]

[2018-12-14 15:05] ebaauw commented on #373
The relative volumes of the members are more or less respected when changing the group volume.  Also when you change the player volume of a member, the group volume is adjusted.  This behaviour can also be observed using the Sonos app.

[2018-12-21 21:05] svrooij commented on #373
@ebaauw when Will you be migrating to the new async version for node-sonos?

[2018-12-21 21:27] svrooij opened #383 "Input needed: Logical devices from ZoneGroupTopology"
Recently I started creating a way to use logical devices.

I wanted to return all the groups in the current sonos setup with all child Sonos players as a *Sonos* object. Then I got stuck in the circular reference hell, because the *Sonos* object had a dependency on the Event emitter which had a new introducted dependency on the *Sonos* object.

Do you guys have an idea on how to solve this?
@jkazi

[2018-12-21 21:42] ebaauw commented on #373
I'm slowly but surely refactoring all my homebridge plugins to use the dynamic platform accessory model.  At the same time, I'm moving all the generic code into a common library, based on async functions, classes and events, rather than callback functions and prototypes.  I started with the simplest plugin - my virtual weather station.  It's almost where I want it to be, I'll be doing my smart met

[2018-12-21 21:46] svrooij commented on #373
Just curious. We could use some active developers for this project as well. And I spend a lot of time on the async version of node-sonos, and we’ll only make updates to the async version. As of last month I implemented a way to have an event when the group configuration changes, that would greatly beneficial for your bridge as well.

[2018-12-21 21:55] ebaauw commented on #383
I would simply emit the group events from the coordinator zone player.  Maybe also from each of the member zoneplayers, but then using a different event name to distinguish between "master" and "slave" events.

The setup you propose won't work for my homebridge plugin.  HomeKit doesn't like configuration changes, and new accessories (for the groups) appearing and disappearing would lose any HomeKi

[2018-12-24 13:00] globalcryptocoin commented on #367
Started playing true

when using the command, but still using sonos-cli ... play does drop an exception

[2018-12-24 19:00] svrooij commented on #367
Is your problem with this library or with the [sonos-cli](https://github.com/bencevans/sonos-cli)??
If the problem is with this library, please follow [this](https://github.com/bencevans/node-sonos/issues/367#issuecomment-443520216) to correctly diagnose the problem. And else create an issue at the cli, always make sure you specify all the used versions

[2018-12-28 14:44] egs2003 opened #389 "playNotification does not resume"
If I play a spotify stream and play a notification, spotify does not resume

[2019-01-03 22:35] magnlund opened #392 "Function playSpotifyRadio(artistId, artistName) generates UPnP error 701"
When trying to play Spotify Radio using function playSpotifyRadio(artistId, artistName) error UPnP 701 is raised. It used to work before but it does not anylonger. I use the code from the Example and have also verified correct Region settings (EU). All of the other Spotify play functions work fine though. Please advice

## Versions (and Environment)
**Node version**: 8.9.3
**node-sonos version**:

[2019-01-04 13:21] jeantristan opened #393 "Trying to play a Spotify song throw 500 exception"
Hello,

For the record I have the same issue with sonos-cli (https://github.com/bencevans/sonos-cli/issues/20)

## Expected Behavior

I want to be able to play a spotify song based on URI as mentioned in the documentation.

## Current Behavior

I have a 500 exception raised when trying to play a spotify song based on URI

## Possible Solution

I can't manage to find a workaround.

## Sample code o

[2019-01-04 16:09] Villarrealized commented on #393
From what I have seen, this error is raised when you do not have a Spotify Premium account connected to your Sonos system.

I was able to run your example and the song played fine for me.

I also tested another track and had success.
[code]

[2019-01-04 16:40] Villarrealized commented on #392
I can confirm that this issue exists in v1.8.1.

It looks like Spotify has changed some the query flags and parameters needed when playing an artistRadio Id.

Specifically, `sid=9` has changed to `sid=12` and `sn=7` changed to `sn=5`

[code]

We would need to change the following line in helpers.js

[code]

[2019-01-04 20:12] magnlund commented on #392
Tried to change in helpers.js according to above solution but still the same issue

[2019-01-04 20:15] Villarrealized commented on #392
Did you try this?

[code]

[2019-01-04 20:22] magnlund commented on #392
Tried that now instead of using the Playradio function and still the same issue

Regards
Magnus Lundberg
__________________________________
Magnus Lundberg
Phone: +46 730 23 09 36
Email: contact.magnus.lundberg@protonmail.com

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday 4 January 2019 kl. 21:15, Villarrealized <notifications@github.com>

[2019-01-04 20:24] magnlund commented on #392
Could it be a difference in the parameters depending on US or EU region?

Regards
Magnus Lundberg
__________________________________
Magnus Lundberg
Phone: +46 730 23 09 36
Email: contact.magnus.lundberg@protonmail.com

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday 4 January 2019 kl. 21:22, Magnus Lundberg <contact.magnus.lundberg@protonma

[2019-01-04 20:33] svrooij commented on #393
@jeantristan could hou verify you have a premium spotify account. It might also be an issue with the Spotify region, you can set it to EU.

[2019-01-04 20:37] svrooij commented on #392
@Villarrealized Spotify be like..... hate them for differentiating between regions. Maybe we should tackle this with queries based on region.

[2019-01-04 20:38] magnlund commented on #392
Upgraded to 1.8.1 and changed the parameters and also tested with the avTransport function directly. Same issue! I'm located in EU, Sweden

Regards
Magnus Lundberg
__________________________________
Magnus Lundberg
Phone: +46 730 23 09 36
Email: contact.magnus.lundberg@protonmail.com

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday 4 January

[2019-01-04 20:39] magnlund commented on #392
Any suggestions on valid parameters for EU?

Regards
Magnus Lundberg
__________________________________
Magnus Lundberg
Phone: +46 730 23 09 36
Email: contact.magnus.lundberg@protonmail.com

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday 4 January 2019 kl. 21:37, Stephan van Rooij <notifications@github.com> wrote:

[2019-01-04 20:44] svrooij commented on #392
The way I always find the correct commands is by sniffing out the data from the desktop application with Wireshark. (Sniff WiFi or ether net card, set the filter to tcp port 1400, send the command from the desktop app, extract the soap commands for wireshark)

 Will try tomorrow, and will setup a page on the docs on how to do this.

[2019-01-04 21:20] Villarrealized commented on #392
Interesting. I changed the spotify region back and forth from US to EU and ran the same commands multiple times and I had no issue.

@magnlund Are you sure that you have an active Spotify Premium account connected to your Sonos?

[2019-01-05 17:49] jeantristan commented on #393
I managed to make it work!
The problem was that the queue was not empty.
Were you aware of that issue?

With this code it's working perfectly:
[code]

[2019-01-05 17:49] #393 closed

[2019-01-05 17:52] Villarrealized commented on #393
Hmm, interesting. When I tested it, I had a non-empty queue and did not have any issues.

[2019-01-05 18:57] magnlund commented on #392
I have verified that my premium account is linked to my Sonos and played around with the parameters in different ways. Issue still remains. What makes it weird is that it USED to work I think it was unitil August last year and then suddenly stopped working. I use the majority of the URIs on Spotify with Node Sonos and all of them work correct except this. Tried to reauthorize the account and verif

[2019-01-20 17:10] #392 closed

[2019-01-20 17:11] svrooij commented on #389
I noticed this sometime too.... Anyone got a solution for this?

Because I'm affraid to use the `It works on my network`-card.

[2019-03-08 13:03] Coriou commented on #393
Having the same problem, I can not use `play(uri)` on a non-empty queue (throws 500)

[2019-03-10 13:07] ebaauw opened #402 "Q: How to determine if zone supports balance?"
Has any-one been able to figure out how the Sonos app determines when to show _Balance_ in the _EQ Settings_?  I find that it does so for Stereo pairs as well as for the Sonos Connect, but not for Home Theatre Setups (like the PlayBar).

For now, I'm whitelisting zoneplayers that natively support stereo channels (like the Connect), and home theatre zoneplayers (like the PlayBar).  I'm assuming a z

[2019-03-16 09:46] mharj opened #403 "Need TS support?"
@bencevans I have currently custom TS definitions created to this, but do you have own plans to support TS definitions?

[2019-03-16 21:10] bencevans commented on #403
I'm happy for definitions to be merged so long as there's some sort of linting/testing that they're up to date with the code changes on Travis. Just so we can ensure they're maintained if they are added. :smile_cat:

[2019-03-16 21:10] #403 closed

[2019-03-23 10:51] viktorgardart opened #405 "Q: How to determine what music provider is playing"
Is there a way I can receive the content provider from whom the music is played from? (See image).

![IMG_0022](https://user-images.githubusercontent.com/6084484/54865173-cdb70180-4d61-11e9-838a-d645ba444fc0.jpg)

[2019-03-23 13:50] Villarrealized commented on #405
I’ve wondered that myself, but I haven’t seen anything explicit with the data that Sonos sends when inspecting through wireshark. My guess is they determine the provider based on the song’s uri.

[2019-03-23 16:09] viktorgardart commented on #405
Thanks for the reply!

After some debugging it seems that there's a `sid` in `TrackURI`. And that `sid` can be mapped to the response of `ListAvailableServices`.

[2019-03-23 16:09] #405 closed

[2019-04-04 17:52] freaktechnik opened #407 "getAllGroups leads to type errors"
## Expected Behavior

`getAllGroups` should resolve and not raise any errors.

## Current Behavior

Raises a type error (as far as I can see three times, though that may just be three players):
[code]

## Possible Solution

Properly check for the property, probably. Not sure if that problem is new or not.

## Sample code or executed example

As far as I can tell these errors happen when calling `g

[2019-04-04 18:02] freaktechnik commented on #407
Actually, the fix seems to be to add another `ZoneGroupState`.

From the release version `(await Helpers.ParseXml(state.ZoneGroupState))` is logged as `{ ZoneGroupState: { ZoneGroups: { ZoneGroup: [Array] }, VanishedDevices: '' }`.

But not always, for some players it's `{ ZoneGroups: { ZoneGroup: [ [Object], [Object], [Object], [Object], [Object] ] } }`

[2019-04-04 18:11] freaktechnik commented on #407
There's a second related error in the event parser:
[code]

[2019-04-04 19:59] magnlund commented on #407
I can confirm this issue. After upgrading to Sonos 10.1 the grouping function does not work anylonger. The error message is ”cannot read property ZoneGroup of undefned”. I would be very happy for a quick fix on this. Thanks in advance. /Magnus

[2019-04-05 12:53] CajunDust commented on #407
This is indeed confirmed that the Sonos API changed. I had the same issues with using the unofficial sonos app and noson... which are build on the same sonos-node code...

[2019-04-05 13:12] magnlund commented on #407
The same happened in September last year. The node-sonos guys came up with a fix very fast and everything went back to normal. Hopefully this time only a minor change is required on this great API

[2019-04-06 15:04] magnlund commented on #407
While waiting for a new node-sonos release replace line 46 in ZoneGroupTopology.js with this row:
   let groups = (await Helpers.ParseXml(state.ZoneGroupState)).ZoneGroupState.ZoneGroups.ZoneGroup
That worked for me! The grouping function works again.

[2019-04-06 15:06] freaktechnik commented on #407
As I said, that won't work in every case, for me not all players have that format, even though all of them claim to be on the same patch level. Plus there's also a problem with an event.

[2019-04-06 15:48] magnlund commented on #407
Understood but that could be a good enough workaround while waiting for a new release

[2019-04-08 10:55] bencevans commented on #407
I got caught by this issue a few days ago but am away now so can't work on this personally. Thanks for investigating and your partial fix mention @magnlund & @freaktechnik. If you're able to fix it yourselves a pull request would be much appreciated as I'm unsure any of the team will be able to put time into this for a while.

[2019-04-08 18:25] #407 closed

[2019-04-08 18:27] bencevans commented on #407
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-08 19:19] magnlund commented on #407
Brilliant! Thanks guys;)

[2019-04-26 11:49] magnlund opened #413 "AlarmClock.prototype.PatchAlarm does not support multiple players"
When trying to manage an alarm (e.g disable/enable) through alarmService.SetAlarm error is being raised telling that ID cannot be found. The error is raised in patchAlarm function located in /lib/services/AlarmClock.js

## Expected Behavior
It should be possible to manage alarms even in a multiroom speaker setup

## Current Behavior
Error message "Alarm with id <ID> not found" is being raised

##

[2019-05-01 19:10] bencevans commented on #413
You may well have hit the actual fix there. Due to the XML parsing it's likely the ID will be at `[0].ID` as the parser isn't sure if there's additional elements it defaults to placing them in arrays.

[2019-05-03 13:13] svrooij commented on #389
@egs2003 could you please test the *playNotification* sample with this command. `SONOS_HOST=x.x.x.x node examples\playNotification.js`.
What do you mean with a spotify stream?

@CRRE3D the specified code is from some other library and is unrelated to the original question.

In the mean time I'm adding some tests to the library that could be tested.

Both requests could be linked to the event liste

[2019-05-03 13:13] #389 closed

[2019-05-03 13:28] svrooij commented on #402
I don't have a setup to test this, but what we always do is start wireshark to listen on port 1400 and then execute the wanted command and build it in node.

Closing for now, if anyone knows an answer please let us know

[2019-05-03 13:28] #402 closed

[2019-05-03 15:11] svrooij commented on #413
The code to update alarms works perfect here, but it also accepted a number as `ID` parameter. the `===` operator doesn't think `17` is the same as `'17'`. And Sonos needs the ID specified as a string for it to work.

The above PR also adds a test for switching the alarms.

[2019-05-03 15:21] wwwizzarrdry commented on #413
Nice find @magnlund

[2019-05-03 15:25] magnlund commented on #413
Correct. Sonos Seems to require a number expressed in as a string

Skickat från ProtonMail mobile

-------- Originalmeddelande --------
På 3 maj 2019 17:11, Stephan van Rooij skrev:

[2019-05-03 20:36] svrooij opened #415 "Searching spotify tracks"
I was always wondering how Sonos searches for tracks on remote services.
Now I've found out that is uses `https://spotify-v4.ws.sonos.com/` this domain for searching stuff on spotify.

That url also seems to be in [this gist](https://gist.github.com/pascalopitz/9afdc164257ccbb6f4dc22964a92ce66), that lists all the available music services. Also available in the MusicService -> ListAvailableService

[2019-05-04 15:14] Villarrealized commented on #415
Interesting. I always assumed they were using the various APIs provided by other music services to do that. That's what I ended up doing for Sonos Web and it works well. Spotify has a great API. I would loathe to deal with the SOAP wrapper that Sonos probably put on it.

[2019-05-06 19:16] #330 closed

[2019-05-06 19:16] #413 closed

[2019-05-06 19:18] bencevans commented on #413
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-06 19:18] bencevans commented on #330
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-06 19:18] bencevans commented on #368
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-06 19:18] bencevans commented on #389
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-06 20:02] magnlund commented on #413
So Great 😀 Thanks

Skickat från ProtonMail mobile

-------- Originalmeddelande --------
På 6 maj 2019 21:18, Ben Evans skrev:

[2019-06-01 12:38] jpoeppelman1 opened #418 "favorite meta data not showing on XM radio channel"
Hello.  I want to be able to invoke play() with URI and meta data from my existing favorites so that all meta data shows correctly in the Sonos mobile app including album art.  If I send the URI only in play(), then I do not see a title, nor album art.   How do I send this favorite below into play() so that all meta data shows correctly?

        {
            "id": "2/1",
            "parentID":

[2019-06-01 13:00] bencevans commented on #418
Hi @jpoeppelman1. Please checkout:

* [Generate Custom Metadata Documentation](https://github.com/bencevans/node-sonos/blob/29ce923a3f261d949d02973fba24835fa5ea8241/docs/helpers.md#sonoshelpersgeneratecustommetadatastreamuri-itemid-duration-title-artist-album-coverurl-parentid)
* https://github.com/bencevans/node-sonos/issues/330 'Question: Send custom metadata' - for examples

[2019-06-01 13:00] #418 closed

[2019-06-02 19:55] svrooij opened #419 "Idea: Promisified Version of device discovery"

[2019-06-02 23:14] bencevans commented on #419
I like the idea!

Maybe something along the lines of...

[code]

On Sun, 2 Jun 2019, 20:55 Stephan van Rooij, <notifications@github.com>
wrote:

[2019-06-03 05:26] ebaauw commented on #419
You only need a UPnP announcement from one zoneplayer.  When subscribing to `ZoneGroupTopology` events, you receive an event containing all zoneplayers in the household.  It also contains enough info to determine which zoneplayers are (stereo pair) slaves or (home theatre) satellites.  It does require recursively invoking the XML to javascript conversion.

[2019-06-03 20:19] paolotremadio opened #420 "Issues working with topology / grouping speakers"
Hi,

when grouping / leaving groups I'm randomly getting the following error

`
(node:23244) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'ZoneName' of undefined
    at new SonosGroup (/apps/home-automation-bridge/node_modules/sonos/lib/sonosGroup.js:18:29)
    at eventData.Zones.zoneGroup.map.zone (/apps/home-automation-bridge/node_modules/sonos/lib/events/eventParser.js:131:

[2019-06-04 09:35] svrooij commented on #420
Hello @paolotremadio just sending one error message isn't very productive.

What code are you calling?
Have you looked at the samples?
Do you have any suggestions on what might be the issue?

[2019-06-04 16:59] paolotremadio commented on #420
I'm trying to capture the response that is causing the error.

I have 6 zone players and the issue is in processing the event `ZoneGroupTopology`. One or more of the responses don't seem to have a "Coordinator". I can often reproduce by trying to ask for the topology and group the room but I cannot find what's the actual issue.

Will try to reproduce and get back to you with more details

[2019-06-04 17:06] paolotremadio commented on #420
Here we go, found it. One of the `ZoneGroupTopology` events has no coordinator (the last one before the error)

`
  sonos-group ZoneGroup {"Coordinator":"RINCON_7828CAE39ECC01400","ID":"RINCON_7828CAE39ECC01400:1108736685","ZoneGroupMember":{"UUID":"RINCON_7828CAE39ECC01400","Location":"http://192.168.3.51:1400/xml/device_description.xml","ZoneName":"🛁 Bathroom","Icon":"x-rincon-roomicon:bathroom"

[2019-06-08 04:42] AwesomeIndustry opened #421 "togglePlayback's restrictive playback states limit restarting of radio stations"
The `sonos.Sonos.togglePlayback()` method "Currently only works for state `playing` or `paused`." However, would it be possible to have `togglePlayback` be able to restart a radio station (TuneIn/etc)? When a radio station is stopped, the transport state is also `stopped`, which is why I assume that `togglePlayback()` is refusing to restart the radio station due to the required `playing` or `pause

[2019-06-09 01:42] jpoeppelman1 opened #422 "not able to play URI directly"
[code]
ERROR:

[code]

VERSION STUFF:

C:\Users\jlpoeppe\node_modules\sonos>npm -v
6.9.0

C:\Users\jlpoeppe\node_modules\sonos>node -v
v12.4.0

C:\Users\jlpoeppe\node_modules\sonos>

[2019-06-15 20:33] svrooij commented on #420
This is really detailed, thanks!! So the problem is that it just thinks that every Groups should at least have a coordinator. and use the name of it. Will check this out next week.

[2019-06-16 09:18] paolotremadio commented on #420
You're right. Now, I'm not sure why. But the UPnP is an undocumented API so we will never know :)

[2019-06-21 13:03] svrooij commented on #422
@jpoeppelman1 you're missing one important version number. What is the version number of your sonos system? And what is the OS you're using.

Just checked today that the **playthis.js** sample still works here if I type:
[code]
Which is effectively the same code as you're using.

Sonos version: 10.2
OS: Mac

I'm closing this issue for now, if you got extra information you can re-open the issue.

[2019-06-21 13:03] #422 closed

[2019-06-21 15:20] #420 closed

[2019-06-21 15:20] #421 closed

[2019-06-21 15:21] #419 closed

[2019-06-21 15:22] bencevans commented on #420
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-21 15:22] bencevans commented on #421
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-21 15:22] bencevans commented on #419
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sonos)
- [GitHub release](https://github.com/bencevans/node-sonos/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-23 00:16] jpoeppelman1 commented on #422
Still have the same issue.  I'm using the following Sonos version.  OS is Win10 Pro.

Version: 10.2 (build 50165071)
Hardware Version: 1.26.1.6-1
Series ID: A200
WM: 0

[2019-06-23 14:34] bencevans commented on #422
@jpoeppelman1 are you sure to be using the most current version of node-sonos (`v1.12.0`)? `npm ls --depth=0`

[2019-07-29 22:02] johneas10 opened #433 "500 when trying to play stream"
Seem to be receiving the same error as noted here: https://github.com/bencevans/node-sonos/issues/422

`SONOS_HOST=192.168.X.X node examples/playthis.js` returns the 500 error.

I can pause/play existing queues and change volume no problem.

node 10.15.3
node-sonos: 1.12.2
sonos controller version: 10.3
macOS 10.14.6

checked out the Sonos changelog but I there's nothing obvious: https://support.s

[2019-07-30 12:50] svrooij commented on #433
Can you show us the export of this command?
`SONOS_HOST=192.168.x.x DEBUG=sonos* node examples/playthis.js`

This will give us something to work-out.

I'm on the Mac 10.14.5, Node 11.14.0, node-sonos current master and this is what I get.
[code]

[2019-07-30 12:59] johneas10 commented on #433
Thanks for the info. I’ll run then when I get home

[2019-07-30 16:50] johneas10 commented on #433
[code]

[2019-07-30 17:09] johneas10 commented on #433
Ok I've just finished factory resetting my system and started from scratch. Seems to be working okay now. Maybe something didn't configure properly in the latest update.

Sorry for the pointless issue 😩

[2019-07-30 17:09] #433 closed

[2019-07-30 18:45] svrooij commented on #433
Doesn’t matter, maybe we can make it even clearer how to create viable logging so we can diagnose problems faster.

[2019-08-02 16:28] Mastiffen commented on #433
I have a similar problem on a newly installed Sonos (IKEA, but it's supposedly identical to Sonus One on the inside). But on my Sonos there's just nothing happening at all, no debug or anything. Where do I run that SONOS_HOST=192.168.x.x DEBUG=sonos* node examples/playthis.js command? (Sorry if it's a dumb question.)

[2019-08-02 16:35] johneas10 commented on #433
Pull this project down & install, open the folder in your terminal and run the script there.

[2019-08-02 16:43] Mastiffen commented on #433
I have installed it, and I have found the folder but have no idea how to run the script. I'm a Windows man and know close to nothing about Linux, sorry... Do I save it as a file?

[2019-08-02 16:44] Mastiffen commented on #433
I tried to run it from the command line: ` SONOS_HOST=192.168.2.216 DEBUG=sonos* node examples/playthis.js
module.js:550
    throw err;
    ^

Error: Cannot find module '/home/pi/.node-red/node_modules/sonos/examples/playthis.js'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Function.Module.runMain (module.js:694:10)
    at startu

[2019-08-02 16:51] Mastiffen commented on #433
OK, sorry. I downloaded the full package (I thought installation was enough) and ran the code:

  sonos Sonos.play("https://archive.org/download/testmp3testfile/mpthreetest.mp3", undefined) +0ms
  sonos Returning string because it isn't recognized +9ms
  sonos Sonos.queue({"uri":"https://archive.org/download/testmp3testfile/mpthreetest.mp3"}, undefined, undefined) +2ms
  sonos Sonos.request("/Medi

[2019-08-03 07:44] svrooij commented on #433
@Mastiffen your installation doesn't seem normal. What are you trying to accomplish?

Also this issue seems not really related to the closed issue where you posted your question in.

If you want to use Sonos in your node-red installation you should check one of the packages specific for node-red (which will use this package internally, if I'm correct)

If you create a new issue you'll be asked a f

[2019-08-03 09:45] Mastiffen commented on #433
Sorry, I was directed to this issue by somebody at the Node-RED discourse. I'll open a new issue (if that's what it's called) for the node.

[2019-08-04 07:40] jsponz opened #435 "MAC address of the speaker"
## Expected Behavior

I would need to get the MAC address of the speaker

## Current Behavior

## Possible Solution

## Sample code or executed example

1.
2.
3.
4.

## Versions (and Environment)

**Node version**:
**node-sonos version**:
**OS**:

[2019-08-05 05:21] jsponz commented on #435
I share the solution:

device.getZoneInfo()
  .then(attrs2 => {
    console.log('Got zone info %j', attrs2)
    log.info('Found player (%s) with IP: %s and MAC: %s', model, device.host, attrs2.MACAddress)
    // hosts.push(host)
    var macCleaned = attrs2.MACAddress.replace(/:/g, '')
    device.mac = macCleaned
    log.info('Found player (%s) with MAC: %s', model, device.mac)
  })
  .catch(err =>

[2019-08-05 05:21] #435 closed

[2019-08-09 07:16] Rolf-M commented on #234
Hello together,
I found out, that it‘s not only the state, returned By the api but as well the state you send to a speaker.
If you group a speaker and press the Play/pause Button on whatever speaker in the group, it‘ll pause/Play on all of them.
If you do it with the Node-Sonos, it‘ll make a difference. On the coordinator everything is find. On other speakers, pausing one will lead to a not expect

[2019-08-11 17:17] hklages opened #438 "Question: How can I add a "My Sonos" album, playlist to the queue"
Hi.
With `getFavorites`, I get an sorted array of all "My Sonos" stations, albums, songs and playlist. That works fine. I am able to "activate" the stations either with `playTuneinRadio`  or `setAVTransportURI` for Amazon Prime stations.

But how can I fill the queue with tracks from **playlists** in "My Sonos"?

Thanks for helping.

[2019-08-13 12:31] bencevans commented on #438
Looking at the Python client there may be the ability to provide a file uri to the playlist such as:

[code]

I don't have access to my Sonos system at the moment. @svrooij may be able to shine some further light. Alternatively individually queue each song manually.